<!DOCTYPE html>
<!--Can Duy Cat-->
<html ng-app="mainAPP">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>home</title>

<!--link rel="stylesheet" type="text/css" href="lib/ionic/css/bootstrap.min.css"-->
<link href="../lib/ionic/css/ionic.css" rel="stylesheet">
<link href="../css/home.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">

<!-- ionic/angularjs js -->
<script src="../lib/ionic/js/angular/angular.min.js"></script>
<script src="../lib/ionic/js/ionic.bundle.js"></script>

<!-- my app's js -->
<script src="../js/home.js"></script>
</head>

<body ng-controller="PopOverController">
	<div ng-controller="sideMenuController">
		<ion-nav-view></ion-nav-view>
	</div>
	<script id="app.html" type="text/ng-template">
    <ion-side-menus>
      <ion-side-menu-content style="box-shadow: 0 0 0 white">
        <ion-nav-bar class="bar-easi-blue" id="smenuheader">
        </ion-nav-bar>

        <ion-nav-view name="appContent" animation="slide-left-right">
        </ion-nav-view>
      </ion-side-menu-content> 
      
      <ion-side-menu side="left">
        <ion-header-bar class="bar-assertive" id="smenuheader">
          <h1 id="trangXam" class="title">MENU</h1>
        </ion-header-bar>
        <ion-content id="ava">
          <div class="list">
            <a class="item item-avatar item-icon-right" href="#">
              <img src="../img/boy1.png">
              <h2 id="trangXam">Can Duy Cat</h2>
              <p id="trangXam">I&#39;m busy now</p>
              <i style="color: #FFCC00" class="icon ion-ribbon-b"></i>
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i class="icon ion-plus-circled"></i>
              Create
            </a><hr>

            <a id="trangXam" class="item item-icon-left" ui-sref="app.home" menu-close>
              <i class="icon ion-calendar"></i>
              Month
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i class="icon ion-calendar"></i>
              Week
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i class="icon ion-calendar"></i>
              Day
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i class="icon ion-clipboard"></i>
              List
            </a>

            <p id="trangXam" style="margin-top: 10px; margin-bottom: -8px; margin-left: 10px">TOOLS</p>
            <hr style="border: 2px solid #707070; width: 95%">

            <a id="trangXam" class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-refresh"></i>
              Restore
              <i style="color: #996633" class="icon ion-alert-circled"></i>
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i class="icon ion-share"></i>
              Share
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i class="icon ion-document-text"></i>
              Export
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i style="color: #FFCC00" class="icon ion-ribbon-b"></i>
              EasiVIP
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i class="icon ion-help-circled"></i>
              Helps
            </a><hr>

            <a id="trangXam" class="item item-icon-left" ui-sref="app.setting" menu-close>
              <i class="icon ion-android-settings"></i>
              Settings
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i class="icon ion-power"></i>
              Sign out
            </a><hr>

            <a id="trangXam" class="item item-icon-left" href="#">
              <i class="icon ion-log-out"></i>
              Exit
            </a><hr>
          </div>
        </ion-content>
      </ion-side-menu>
    
      <ion-side-menu side="right">
          <ion-header-bar id="smenuheader" class="bar-assertive">
            <h1 class="title">Friends</h1>
          </ion-header-bar>

          <ion-content id="ava">
            <div class="list">
              <a class="item item-avatar" ui-sref="app.profile" menu-close>
                <img src="../img/boy3.png">
                <h2 id="trangXam">Ngo Duc Dung</h2>
                <p id="trangXam">I&#39;m busy now</p>
              </a>
              <hr>

              <a class="item item-avatar" href="#">
                <img src="../img/girl4.png">
                <h2 id="trangXam">Nguyen Thi Luong</h2>
                <p id="avaStt">I&#39;m free now</p>
              </a>
              <hr>

              <a class="item item-avatar" href="#">
                <img src="../img/boy1.png">
                <h2 id="trangXam">Can Duy Cat</h2>
                <p id="trangXam">I&#39;m busy now</p>
              </a>
              <hr>

              <a class="item item-avatar" href="#">
                <img src="../img/boy4.png">
                <h2 id="trangXam">Nguyen Manh Duy</h2>
                <p id="avaStt">I&#39;m free now</p>
              </a>
              <hr>

              <a class="item item-avatar" href="#">
                <img src="../img/girl2.png">
                <h2 id="trangXam">Nguyen Minh Trang</h2>
                <p id="trangXam">I&#39;m busy now</p>
              </a>
              <hr>

              <a class="item item-avatar" href="#">
                <img src="../img/boy3.png">
                <h2 id="trangXam">Ngo Duc Dung</h2>
                <p id="trangXam">I&#39;m busy now</p>
              </a>
              <hr>

              <a class="item item-avatar" href="#">
                <img src="../img/girl4.png">
                <h2 id="trangXam">Nguyen Thi Luong</h2>
                <p id="avaStt">I&#39;m free now</p>
              </a>
              <hr>

              <a class="item item-avatar" href="#">
                <img src="../img/boy1.png">
                <h2 id="trangXam">Can Duy Cat</h2>
                <p id="trangXam">I&#39;m busy now</p>
              </a>
              <hr>

              <a class="item item-avatar" href="#">
                <img src="../img/boy4.png">
                <h2 id="trangXam">Nguyen Manh Duy</h2>
                <p id="avaStt">I&#39;m free now</p>
              </a>
              <hr>

              <a class="item item-avatar" href="#">
                <img src="../img/girl2.png">
                <h2 id="trangXam">Nguyen Minh Trang</h2>
                <p id="trangXam">I&#39;m busy now</p>
              </a>
              <hr>
            </div>
          </ion-content>

          <ion-footer-bar class="bar bar-footer item-input-inset" style="background-color:#646464">
            <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" placeholder="Search">
            </label>
          </ion-footer-bar>
      </ion-side-menu>
    </ion-side-menus>
    </script>

	<script id="home.html" type="text/ng-template">
      <ion-view title="EasiLendar">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)">
          </button>
          <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right">
          </button>
        </ion-nav-buttons>
        <ion-content padding="true">
          <img src="../img/example.jpg" style="width:93vw">
        </ion-content>
      </ion-view>
    </script>

	<script id="setting.html" type="text/ng-template">
      <ion-view title="Setting">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-home" ui-sref="app.home" menu-close>
          </button>
        </ion-nav-buttons>

        <ion-content padding="true">
        </ion-content>
      </ion-view>
    </script>

	<script id="profile.html" type="text/ng-template">
      <ion-view title="Ngo Duc Dung"> <!-- Sau nay la ten nguoi dung-->
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-home" ui-sref="app.home" menu-close>
          </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)">
          </button>
          <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right">
          </button>
        </ion-nav-buttons>
        <ion-content padding="true">
          <div id="cover">
            <div class="item item-thumbnail-left" style="height:50%; position:absolute; bottom:-28px; background: transparent; border:0">
              <img src="../img/boy3.png">
              <br>
              <h2 style="font-size:170%; color: #416969"><i style="color: #FFCC00" class="icon ion-ribbon-b"></i> Ngo Duc Dung</h2>
              <p>I&#39;m busy now</p>
            </div>            
            <div style="position:absolute; top:0px; right:0px; background: transparent; border:0">
              <button id="trangXam" class="button button-icon icon ion-email"></button>
              <button id="trangXam" class="button button-icon icon ion-coffee"></button>
              <button id="trangXam" class="button button-icon icon ion-person-add"></button>
            </div>
          </div>
          <div style="position: absolute; left:0;">
          <img src="../img/example.png" style="width:100vw">
          </div>
        </ion-content>
      </ion-view>
    </script>

	<script id="my-popover.html" type="text/ng-template">
      <ion-popover-view style="height: 70vh">
        <div class="bar bar-stable bar-header" style="height: 30px; padding-left: 10px; border-bottom:0">
          <p>Notifications</p>
        </div>

        <ion-content style="margin-top:30px; margin-bottom: 30px">
          <ul class="list">
            <li class="item item-icon-left">
              <i class="icon ion-coffee"></i>
              <p>Ngo Duc Dung accepted your invitation<p>
              <span id="trangXam">48min</span>
            </li>
            <li class="item item-icon-left">
              <i class="icon ion-person-add"></i>
              <p>Ngo Duc Dung accepted your friend request<p>
              <span id="trangXam">50min</span>
            </li>
            <li class="item item-icon-left">
              <i class="icon ion-coffee"></i>
              <p>Nguyen Manh Duy accepted your invitation<p>
              <span id="trangXam">1hour</span>
            </li>
            <li class="item item-icon-left">
              <i class="icon ion-coffee"></i>
              <p>Nguyen Minh Trang accepted your invitation<p>
              <span id="trangXam">1day</span>
            </li>
            <li class="item item-icon-left">
              <i class="icon ion-person-add"></i>
              <p>Nguyen Thi Luong rejected your friend request<p>
              <span id="trangXam">1month</span>
            </li>
            <li class="item item-icon-left">
              <i class="icon ion-coffee"></i>
              <p>Nguyen Minh Trang accepted your invitation<p>
              <span id="trangXam">1day</span>
            </li>
            <li class="item item-icon-left">
              <i class="icon ion-person-add"></i>
              <p>Nguyen Manh Duy accepted your invitation<p>
              <span id="trangXam">1hour</span>
            </li>
          </ul>
        </ion-content>

        <div class="bar bar-stable bar-footer" style="height: 30px; padding-left: 10px; border-top:0">
          <p>See All</p>
        </div>
      </ion-popover-view>
    </script>

</body>
</html>
