<!DOCTYPE html>
<html data-ng-app="signIn">
<head>
<meta charset="UTF-8">
<title>Sign In</title>
<script src="../lib/ionic/js/angular/angular.min.js"></script>
<script src="../js/signIn.js"></script>
<link rel="stylesheet" href="../css/sign-in.css">

</head>

<body data-ng-controller="SignInController as signCtrl" data-ng-init="isShow=false">
	<div id="image">
		<img id="easilendar" src="../img/easilendar.png">
	</div>

	<div id="signin">
		<form method="POST" name="signInForm" data-ng-submit="signIn()">
			<input data-ng-model="user.id" type="text" name="userid" placeholder="EasiLendar ID" required/>
			<br> 
			<input data-ng-model="user.password" type="password" name="password" placeholder="Password" required/> 
			<br> 
			<input data-ng-model="isRemember" type="checkbox" name="remember"/>
			<label for="remember">Remember me</label> 
			<input type="submit" name="submit" value="Sign in"/>
		</form>
	</div>

	<div id="warning" data-ng-show="isShow">
		<div class="box">
			<p><strong>Your ID or password was <em>incorrect</em><br></strong>Please type again!</p>
			<button class="confirm" data-ng-click="confirm()">OK</button>
		</div>
	</div>
	
	<div id="others">
		<p><a id="register" href="">Register</a> | <a id="forgot" href="">Forgot password?</a></p>
	</div>

</body>
</html>