<!DOCTYPE html>
<!-- Nguyen Minh Trang
	 09/02/2015 -->
<html data-ng-app="signIn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>Sign In</title>
	
	<link rel="stylesheet" href="../lib/ionic/css/ionic.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/sign-in.css">

	<script src="../lib/ionic/js/ionic.bundle.js"></script>
	<script src="cordova.js"></script>
	<script src="../lib/ionic/js/angular/angular.min.js"></script>
	<script src="../js/signIn.js"></script>
  </head>

  <body data-ng-controller="SignInController">
    <div class="easi-image">
	  <img src="../img/easilendar.png">
	</div>
	<form method="POST" name="signInForm" data-ng-submit="signIn()" data-ng-hide="isWarning">
	  <div class="item-input">
    	<input data-ng-model="user.id" type="text" name="userid" placeholder="EasiLendar ID" required/>
	  </div>
  	  <div class="item-input">
    	<input data-ng-model="user.password" type="password" name="password" placeholder="Password" required/>
  	  </div>
  	  <div class="checkbox checkbox-easi-blue rememberme">
	    <input data-ng-model="isRemember" type="checkbox"/>
	    <label>Remember me</label>
	  </div>
	  <input class="button button-block button-easi-blue" type="submit" value="Sign in"/>
	</form>

	<div class="warning" data-ng-hide="!isWarning">
		<p><strong>Your ID or password was <em>incorrect</em><br></strong>Please type again!</p>
		<button class="confirm button button-full button-easi-blue" data-ng-click="confirm()">OK</button>
	</div>
	
	<div class="register">
       <p class="links"><a href="">Register</a> | <a href="">Forgot password?</a></p>
	</div>
  </body>
 </html>