<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 24/02/2015
	 type: html -->

<ion-view hide-nav-bar="true">
    <ion-content style="width:100vw; height:110vh; background-color:#33CCCC">
        <marquee behavior="slide" direction="down" scrollamount="12" ui-sref="home" menu-close>
            <center>
                <img src="img/blank.png" width="200" height="50">
                <br>
                <img src="img/logo.png" height="200">
                <br>
                <img src="img/easilendar.png" width="200">
            </center>
        </marquee>
        <marquee behavior="slide" scrollamount="9" direction="up" width="100%" ui-sref="home" menu-close>
            <center>
                <font color="#FFFFFF"> <strong>
				A Very Best Meeting Planer<br>
				TEXAS GROUP<br><br>
				Can Duy Cat<br>
				Nguyen Minh Trang<br>
				Nguyen Manh Duy<br>
				Ngo Duc Dung<br>
				Nguyen Thi Luong<br><br>
				Beta {{ver}}
			</strong>
                </font>
            </center>
        </marquee>
</ion-view>
