<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 28/04/2015
	 type: about template-->

<ion-view hide-nav-bar="true">
	<ion-content class="easi-full-blue" ng-click="goToState('setting')">
		<center>
			<img src="img/logo.png" class="easi-logo"><br>
			<p class="easi-font easi-big-name">EasiLendar</p>
			<p class="easi-white">
				<strong>
					The Very Best Meeting Planer<br>
					TEXAS GROUP<br><br>
					Can Duy Cat<br>
					Nguyen Minh Trang<br>
					Nguyen Manh Duy<br>
					Ngo Duc Dung<br>
					Nguyen Thi Luong<br><br>
					Alpha test {{ver}}
				</strong>
			</p>
		</center>
	</ion-content>
</ion-view>
