<!-- starter: Can Duy Cat
     owner: Can Duy Cat
     last update: 27/02/2015
     type: html template -->
<ion-side-menus>
    <ion-side-menu-content class="easi-no-shadow">
        <ion-nav-bar class="bar-easi-blue"> </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"> </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-easi-gray">
            <h1 class="easi-light-gray title">MENU</h1>
        </ion-header-bar>

        <ion-content id="sideMenuContent">
            <div class="list easi-space">
                <menu-panel></menu-panel>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
