<ion-side-menus>
  <ion-side-menu-content style="box-shadow: 0 0 0 white">
    <ion-nav-bar class="bar-easi-blue" id="smenuheader">
    </ion-nav-bar>

    <ion-nav-view name="appContent" animation="slide-left-right">
    </ion-nav-view>
  </ion-side-menu-content> 
  
  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive" id="smenuheader">
      <h1 id="trangXam" class="title">MENU</h1>
    </ion-header-bar>
    <ion-content id="ava">
      <div class="list">
        <a class="item item-avatar item-icon-right" href="#">
          <img src="../img/boy1.png">
          <h2 id="trangXam">Can Duy Cat</h2>
          <p id="trangXam">I&#39;m busy now</p>
          <i style="color: #FFCC00" class="icon ion-ribbon-b"></i>
        </a><hr>

        <a id="trangXam" class="item item-icon-left" href="#">
          <i class="icon ion-plus-circled"></i>
          Create
        </a><hr>

        <a id="trangXam" class="item item-icon-left" ui-sref="app.month" menu-close>
          <i class="icon ion-calendar"></i>
          Month
        </a><hr>

        <a id="trangXam" class="item item-icon-left" ui-sref="app.week" menu-close>
          <i class="icon ion-calendar"></i>
          Week
        </a><hr>

        <a id="trangXam" class="item item-icon-left" ui-sref="app.day" menu-close>
          <i class="icon ion-calendar"></i>
          Day
        </a><hr>

        <a id="trangXam" class="item item-icon-left" ui-sref="app.list" menu-close>
          <i class="icon ion-clipboard"></i>
          List
        </a>

        <p id="trangXam" style="margin-top: 10px; margin-bottom: -8px; margin-left: 10px">TOOLS</p>
        <hr style="border: 2px solid #707070; width: 95%">

        <a id="trangXam" class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-refresh"></i>
          Restore
          <i style="color: #996633" class="icon ion-alert-circled"></i>
        </a><hr>

        <a id="trangXam" class="item item-icon-left" href="#">
          <i class="icon ion-share"></i>
          Share
        </a><hr>

        <a id="trangXam" class="item item-icon-left" href="#">
          <i class="icon ion-document-text"></i>
          Export
        </a><hr>

        <a id="trangXam" class="item item-icon-left" href="#">
          <i style="color: #FFCC00" class="icon ion-ribbon-b"></i>
          EasiVIP
        </a><hr>

        <a id="trangXam" class="item item-icon-left" href="#">
          <i class="icon ion-help-circled"></i>
          Helps
        </a><hr>

        <a id="trangXam" class="item item-icon-left" ui-sref="app.setting" menu-close>
          <i class="icon ion-android-settings"></i>
          Settings
        </a><hr>

        <a id="trangXam" class="item item-icon-left" href="#">
          <i class="icon ion-power"></i>
          Sign out
        </a><hr>

        <a id="trangXam" class="item item-icon-left" href="#">
          <i class="icon ion-log-out"></i>
          Exit
        </a><hr>
      </div>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
      <ion-header-bar id="smenuheader" class="bar-assertive">
        <h1 class="title">Friends</h1>
      </ion-header-bar>

      <ion-content id="ava">
        <div class="list">
          <a class="item item-avatar" ui-sref="app.profile" menu-close>
            <img src="../img/boy3.png">
            <h2 id="trangXam">Ngo Duc Dung</h2>
            <p id="trangXam">I&#39;m busy now</p>
          </a>
          <hr>

          <a class="item item-avatar" href="#">
            <img src="../img/girl4.png">
            <h2 id="trangXam">Nguyen Thi Luong</h2>
            <p id="avaStt">I&#39;m free now</p>
          </a>
          <hr>

          <a class="item item-avatar" href="#">
            <img src="../img/boy1.png">
            <h2 id="trangXam">Can Duy Cat</h2>
            <p id="trangXam">I&#39;m busy now</p>
          </a>
          <hr>

          <a class="item item-avatar" href="#">
            <img src="../img/boy4.png">
            <h2 id="trangXam">Nguyen Manh Duy</h2>
            <p id="avaStt">I&#39;m free now</p>
          </a>
          <hr>

          <a class="item item-avatar" href="#">
            <img src="../img/girl2.png">
            <h2 id="trangXam">Nguyen Minh Trang</h2>
            <p id="trangXam">I&#39;m busy now</p>
          </a>
          <hr>

          <a class="item item-avatar" href="#">
            <img src="../img/boy3.png">
            <h2 id="trangXam">Ngo Duc Dung</h2>
            <p id="trangXam">I&#39;m busy now</p>
          </a>
          <hr>

          <a class="item item-avatar" href="#">
            <img src="../img/girl4.png">
            <h2 id="trangXam">Nguyen Thi Luong</h2>
            <p id="avaStt">I&#39;m free now</p>
          </a>
          <hr>

          <a class="item item-avatar" href="#">
            <img src="../img/boy1.png">
            <h2 id="trangXam">Can Duy Cat</h2>
            <p id="trangXam">I&#39;m busy now</p>
          </a>
          <hr>

          <a class="item item-avatar" href="#">
            <img src="../img/boy4.png">
            <h2 id="trangXam">Nguyen Manh Duy</h2>
            <p id="avaStt">I&#39;m free now</p>
          </a>
          <hr>

          <a class="item item-avatar" href="#">
            <img src="../img/girl2.png">
            <h2 id="trangXam">Nguyen Minh Trang</h2>
            <p id="trangXam">I&#39;m busy now</p>
          </a>
          <hr>
        </div>
      </ion-content>

      <ion-footer-bar class="bar bar-footer item-input-inset" style="background-color:#646464">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>