<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 29/04/2015
	 type: calendar select popover -->

<ion-popover-view id="home-calendar-select-popover">
	<!-- number for calendar icon -->
	<p class="easi-index-2 easi-gray home-num-30-position"><b>30</b></p>
	<p class="easi-index-2 easi-gray home-num-7-position"><b>7</b></p>
	<p class="easi-index-2 easi-gray home-num-1-position"><b>1</b></p>

	<!-- list of item -->
	<div class="list easi-index-1">
		<a class="item item-icon-left home-popover-item" ng-click="closeSelect(); goToState('month')">
			<i class="icon ion-calendar easi-gray"></i>
			<h2 class="easi-gray">Month</h2>
		</a>

		<a class="item item-icon-left home-popover-item" ng-click="closeSelect(); goToState('week')">
			<i class="icon ion-calendar easi-gray"></i>
			<h2 class="easi-gray">Week</h2>
		</a>

		<a class="item item-icon-left home-popover-item" ng-click="closeSelect(); goToState('day')">
			<i class="icon ion-calendar easi-gray"></i>
			<h2 class="easi-gray">Day</h2>
		</a>

		<a class="item item-icon-left home-popover-item" ng-click="closeSelect(); goToState('list')">
			<i class="icon ion-android-list easi-gray"></i>
			<h2 class="easi-gray">List</h2>
		</a>

		<a class="item item-icon-left home-popover-item" ng-click="closeSelect(); goToState('search')">
			<i class="icon ion-android-search easi-gray"></i>
			<h2 class="easi-gray">Search</h2>
		</a>

		<a class="item item-icon-left home-popover-item" ng-click="closeSelect(); refresh()">
			<i class="icon ion-android-sync easi-gray"></i>
			<h2 class="easi-gray">Refresh</h2>
		</a>
	</div>
</ion-popover-view>