<!-- starter: Can Duy Cat
	 owner: Ngo Duc Dung
	 last update: 28/04/2015
	 type: calendar template -->
<ion-view title="EasiLendar">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
		<button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
	</ion-nav-buttons>
	<div id="month-div-calendar" data-ng-class="backgroundMonth(currentMonthNumber)">
		<!-- Month calendar ver 1 -->
		<easi-month ng-show="true"></easi-month>
		
		<easi-day ng-show="true"></easi-day>

		<!-- Month calendar ver 2 -->

		<!-- <center>
		<div class="month-calendar-2">
			<div class="month-title-calendar-2">
				<a class="month-button-previous-2 icon ion-chevron-left easi-gray" data-ng-click="previousMonth()" check-first-day="currentMonthNumber" this-year="{{currentYear}}"></a>
					{{currentMonthString}}, {{currentYear}}
				<a class="month-button-next-2 icon ion-chevron-right easi-gray" data-ng-click="nextMonth()" check-first-day="currentMonthNumber" this-year="{{currentYear}}"></a>
			</div>

			<table class="month-table-days-in-week">
				<tr>
					<td class="month-td-days-in-week" data-ng-repeat="day in daysInWeek">
						{{day.day}}
					</td>
				</tr>
			</table>
		</div>
		</center>

		<ion-content scrollbar-y="false" class="month-content-calendar-2">
			<table class="month-table-calendar-2">
				<tr data-ng-repeat="week in weeks">
					<td class="month-td-calendar-2" data-ng-repeat="day in week.days">
						<div class="month-div-calendar-date" current-day-and-different-month="day.numberDate" month="{{day.month}}" year="{{currentYear}}" current-month="{{currentMonthNumber}}" data-ng-click="showListEvent(currentYear,day.month,day.numberDate)">{{day.numberDate}}</div>

						<show-events year="{{currentYear}}" month="{{day.month}}" day="{{day.numberDate}}">
							<div class="month-div-calendar-events" data-ng-repeat="event in eUser.uGmailCalendar[date]"
							background-color-event="bkgE">
								{{event.summary}}
							</div>
						</show-events>
					</td>
				</tr>
			</table>
		</ion-content> -->
	</div>
</ion-view>
