<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 24/02/2015
	 type: html -->

<ul class="list">
    <li class="item item-checkbox">
        <label class="checkbox checkbox-easi-blue">
            <input type="checkbox" checked>
        </label>
        <h2 style="margin-top: 10px">My local calendar</h2>
    </li>

    <li class="item item-checkbox">
        <label class="checkbox checkbox-easi-blue">
            <input type="checkbox">
        </label>
        <h2 style="margin-top: 10px">Gmail calendar</h2>
    </li>

    <li class="item item-checkbox">
        <label class="checkbox checkbox-easi-blue">
            <input type="checkbox">
        </label>
        <h2 style="margin-top: 10px">Sunrise calendar</h2>
        </h2>
    </li>
</ul>
