<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 28/04/2015
	 type: select calendar template -->

<div class="list">
	<label class="item item-radio">
		<input type="checkbox" ng-model="eSettings.sLocalCalendar">
		<div class="item-content">
			Local Calendar
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
	<label class="item item-radio">
		<input type="checkbox" ng-model="eSettings.sGmailCalendar">
		<div class="item-content">
			Gmail Calendar
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
</div>

