<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 01/03/2015
	 type: html template-->

<ion-view hide-nav-bar="true">
    <ion-content class="easi-full-blue easi-center">
		<div class="coming-content easi-left easi-white" ui-sref="home" menu-close>
			<p><b>stay tuned...</b><p>
			<p>we are coming soon...</p>
		</div>
		<div class="coming-input easi-left" ng-init="mail=''">
			<input class="easi-dark-blue coming-input" type="email" placeholder="Your Email and Get Notified" ng-model="mail"></input>
			<button class="button icon ion-chevron-right button-easi-blue coming-button" ng-click="confirm(mail); mail='';"></button>
			<p class="easi-font easi-white easi-left coming-slogan">The Very Best Meeting Planer</p>
		</div>
    </ion-content>
</ion-view>
