<!-- starter: Can Duy Cat
	 owner: Nguyen Thi Luong
	 last update: 24/02/2015
	 type: calendar template -->

<ion-view title="EasiLendar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
     	  <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
	
    </ion-nav-buttons>

<br>
<br>
<br>
	<ion-content padding="true"><center>
	
	<div id="cover">
	<h1 class="yyy"> <br>February 2015</h1>
	</div>
	<div id="xxx">
	<h4> This Week (Feb 02-08)</h4><br>
	</div>
	<div>
	<br>
	<br>
		
			<table class="table-calendar easi-no-border">
			
			
			<tr class="tr-day-calendar easi-no-border">
   				<td class="td-day-calendar-1 easi-no-border">
   					<p class="p-day-calendar-number easi-no-border">03</p>
   					<p class="p-day-calendar-text easi-no-border">Tues</p>
   				</td>
   				<td class="td-day-calendar-2">
   					<div class="div-day-calendar easi-no-border event-color-1">
   						<span>501 CT1 building - VNU</span><br>
   						<span>8:30-11:00</span><br>
   					</div>
   					<div class="div-day-calendar easi-no-border event-color-5">
   						<span>Restaurant</span><br>
   						<span>11:30-12:30</span><br>
   					</div>
   					<div class="div-day-calendar easi-no-border event-color-2">
   						<span>Royal City</span><br>
   						<span>14:00-17:00</span><br>					
   					</div>
   				</td>
				
   			</tr>
			
		</table>
	 </div>
    <!--ion-content padding="true"> <img src="img/day.png" style="width: 100vw; margin-top: -10px; margin-left: -10px"> </ion-content-->
</ion-view>
