<!-- starter: Can Duy Cat
	 owner: Nguyen Manh Duy
	 last update: 24/02/2015
	 type: calendar template -->

<ion-view title="EasiLendar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
        <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>
    <ion-content padding="true"> <img src="img/day.png" style="width: 100vw; margin-top: -10px; margin-left: -10px"> </ion-content>
</ion-view>
