<!-- starter: Can Duy Cat
	 owner: Nguyen Thi Luong
	 last update: 24/02/2015
	 type: calendar template -->

<ion-view title="EasiLendar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
     	  <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>
	<div  ng-class="backgroundMonth()">
		
			<h2 id="h2-month"><br>{{currentMonthString}}, {{currentYear}}</h2>
		
		</div>
		
		<div id="xxx"><center> 
		<table ><center>
		<td id="x1"><a class="button-calendar button-previous-day icon ion-chevron-left easi-gray" > </a>    </td>
		<td id="x2"><span >This Week ({{currentMonthCstring}} {{numberFirstDayInWeek}}- {{numberLastDayInWeek}})<br><span></td>
		<td id="x3"><a class="button-calendar button-next-day icon ion-chevron-right easi-gray" > </a>   </td>
		</table>
		<br>
		</div>
		
		<ion-content class="zzz"> <center>
		
		<div>
		<br>
		<br>
			
				<table class="day-table-calendar easi-no-border"><center>
				<tr class="tr-day-calendar easi-no-border">
					<td class="td-day-calendar-1 easi-no-border">
						<p class="p-day-calendar-number easi-no-border">{{currentDateNumber}}</p>
						<p class="p-day-calendar-text easi-no-border">{{currentDayInWeek}}</p>
					</td>
					<td class="td-day-calendar-2">
						<div class="div-day-calendar easi-no-border event-color-1">
							<span>Movie: Avangers 2 </span><br>
							<span>18:00PM - 21:45PM</span><br>
							
						</div>
						<div class="div-day-calendar easi-no-border event-color-2">
							<span>Studying at 301-G2 UET - VNU </span><br>
							<span>13:00PM - 17:50PM</span><br>
							
						</div>
						<div class="div-day-calendar easi-no-border event-color-5">
							<span>Friend's birthday at Friend's House</span><br>
							<span>18:00PM - 22:00PM</span><br>
							
						</div>
						<div class="div-day-calendar easi-no-border event-color-3">
							<span>Make Love </span><br>
							<span>18:00PM - 21:45PM</span><br>
							
						</div>
					</td>
					
				</tr>
				
			</table>
		 </div>
    </ion-content>
	
<!--	<ion-content id="zzz"><center>
	<div style="margin-bottom:0px;margin-top:10px;padding-top:-10px;
	padding-bottom:-20px;"><p>Wednesday,18/03</p></div>
	<table id="table1"><center>
  
  <tr>
    <td class="td1"><div >12am</div><hr><div >1am</div><hr>
        <div >2am</div><hr><div >3am</div><hr>
        <div >4am</div><hr><div >5am</div><hr>
        <div >6am</div><hr><div >7am</div><hr>
        <div>8am</div><hr><div>9am</div><hr>
        <div>10am</div><hr><div >11am</div><hr>
        <div >12pm</div><hr><div >1pm</div><hr>
        <div >2pm</div><hr><div >3pm</div><hr>
        <div >4pm</div><hr><div >5pm</div><hr>
        <div >6pm</div><hr><div >7pm</div><hr>
        <div >8pm</div><hr><div >9pm</div><hr>
        <div>10pm</div><hr><div >11pm</div>

</td>
    
    <td class="td2"></td>
</table>
</div>
	
	</ion-content-->
</ion-view>
