<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 11/03/2015
	 type: popup template -->
<div ng-init="zone=''">
	<div class="bar bar-header item-input-inset" id="search-time-zone">
	    <label class="item-input-wrapper">
	        <i class="icon ion-ios7-search placeholder-icon"></i>
	        <input type="search" placeholder="Search" ng-model="zone">
	    </label>
	</div>
	<ul class="list" id="time-zone-list">
		<li class="item item-text-wrap" id="show-time-zone" ng-repeat="time in eSettings.sZoneList | filter:zone" ng-click="eSettings.sTimeZone=time.zone; closePopup();">{{eSettings.sZoneName[time.zone+11]}} <br> {{time.location}}</li>
	</ul>
</div>

