<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 28/04/2015
	 type: event to show popup template -->

<div class="list">
	<label class="item item-radio">
		<input type="checkbox" ng-model="eSettings.sEvent">
		<div class="item-content">
			Events
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>

	<label class="item item-radio">
		<input type="checkbox" ng-model="eSettings.sHoliday">
		<div class="item-content">
			Holidays
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>

	<label class="item item-radio">
		<input type="checkbox" ng-model="eSettings.sBirthday">
		<div class="item-content">
			Birthdays
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
</div>
