<!-- starter: Can Duy Cat
	 owner: Nguyen Minh Trang
	 last update: 27/02/2015
	 type: state template -->

<form class="signInForm "method="POST" name="signInForm" data-ng-submit="signIn()">
    <input class="item-input" data-ng-model="user.id" type="text" name="userid" placeholder="EasiLendar ID" required />
    <input class="item-input" data-ng-model="user.password" type="password" name="password" placeholder="Password" required />
    <div class="checkbox checkbox-easi-blue rememberme">
        <input data-ng-model="isRemember" type="checkbox" />
        <label>Remember me</label>
    </div>
    <input class="button button-block button-easi-blue" type="submit" value="Sign in" />
</form>
<!-- links -->
<div class="register">
    <p class="links">
        <a ui-sref="register">Register</a> | <a href="#">Forgot password?</a>
    </p>
</div>