<!-- starter: Can Duy Cat
     owner: Ngo Duc Dung
     last update: 31/03/2015 
     type: friend panel template -->
<form data-ng-controller="friendPanelController">
	<togglefriend>
		<ion-header-bar class="bar-easi-gray">
		    <button class="button button-clear easi-no-border easi-gray"><p class="easi-light-gray">Friends</p></button>
		    <button id="refresh-list" class="button button-icon icon ion-loop easi-no-border easi-light-gray" data-ng-click="refreshList()"></button>
		    <button class="button button-icon  icon ion-arrow-down-b easi-no-border easi-light-gray" data-ng-click="toggleFunc(); gotoTop()" sort-option is-visible="visible">
		    </button>
		</ion-header-bar>
	</togglefriend>
	
	<ion-footer-bar class="bar bar-footer item-input-inset easi-back-gray footer-friend-panel" data-ng-click="gotoTop()">
	    <label class="item-input-wrapper"> 
	    	<i class="icon ion-ios7-search placeholder-icon"></i>
	        <input id="search-input" type="search" data-ng-model="searchFriend.name" placeholder="Search" opacity-search-input>
	    </label>
	</ion-footer-bar>
	
	<ion-content id="friendPanelContent">
		<div id='top'></div>
		<div id='top' class="sort-option-div easi-no-border" data-slide-toggle-friend="visible">
			<button class="first easi-no-border" data-ng-click="sort('AZ')">A - Z</button>
			<button class="easi-no-border" data-ng-click="sort('FB')">F & B</button>
			<button class="last easi-no-border">...</button>
		</div>
		<hr id="hrFriendPanel">
	 	<div class="list easi-no-border">
			<togglefriend id="myAvatar01" data-ng-repeat="friend in friends | filter:searchFriend" class="item myAvatar01 item-icon-right sideMenu my-repeat-animation">
				<div class="easi-no-border" data-ng-click="toggleFunc()">
					<img class="item-image easi-no-border" src="img/ava{{friend.image}}.png">
					<h2 class="easi-light-gray easi-no-border">{{friend.name}}</h2>
					<p class="easi-light-gray easi-no-border">{{fStatus[friend.status]}}</p>
					<i data-ng-show="friend.vip" class="icon ion-ribbon-b easi-vip-color easi-no-border" id="ribbon-b"></i>
				</div>
				
				<div class="div02 easi-no-border my-repeat-animation" data-slide-toggle-friend="visible">
					<div class="easi-no-border" style="margin-right: 8px">
						<button class="easi-no-border" data-ng-click="appointMeeting(friend)" ui-sref="searchFilter" menu-close>Date</button>
						<button class="easi-no-border" data-ng-click="deleteFriend(friend)">Delete</button>
						<button class="easi-no-border" data-ng-click="viewProfile(friend)">View</button>
					</div>
				</div>
				<hr id="hrFriendPanel">
			</togglefriend>				
		</div>
		<img id="empty-image-50px">
	</ion-content>	
</form>