<!-- starter: Can Duy Cat
     owner: Ngo Duc Dung
     last update: 14/03/2015 
     type: friend panel template -->

<form data-ng-controller="friendPanelController">
	<ion-header-bar class="bar-easi-gray">
	    <p class="easi-light-gray easi-title easi-title-left">Friends</p>
	    <!-- add some button here then float them to right side -->
	</ion-header-bar>

	<ion-footer-bar class="bar bar-footer item-input-inset easi-back-gray footer-friend-panel">
	    <label class="item-input-wrapper"> 
	    	<i class="icon ion-ios7-search placeholder-icon"></i>
	        <input id="search-input" type="search" data-ng-model="searchFriend.name" placeholder="Search" opacity-search-input>
	    </label>
	</ion-footer-bar>

	<ion-content id="friendPanelContent">
	 
	 	<div class="list">
			<togglefriend id="myAvatar01" data-ng-repeat="friend in friends | filter:searchFriend" class="item myAvatar01 item-icon-right sideMenu my-repeat-animation">
				<div data-ng-click="toggleFunc()">
					<img class="item-image" src={{avatars[friend.image]}}>
					<h2 class="easi-light-gray">{{friend.name}}</h2>
					<p class="easi-light-gray">{{fStatus[friend.status]}}</p>
					<i data-ng-show="friend.vip" class="icon ion-ribbon-b easi-vip-color" id="ribbon-b"></i>
				</div>
				<div class="div02 my-repeat-animation" data-slide-toggle-friend="visible">
					<div style="margin-right: 8px">
						<button ui-sref="searchFilter" menu-close>Date</button>
						<button data-ng-click="deleteFriend(friend)">Delete</button>
						<button data-ng-click="viewProfile(friend)" ui-sref="profile" menu-close>View</button>
					</div>
				</div>
				<hr id="hrFriendPanel">
			</togglefriend>				
		</div>
		<img id="empty-image-50px">

	</ion-content>	
</form>