<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 29/04/2015
	 type: abstract home state template -->

<ion-side-menus>
	<ion-side-menu-content class="easi-no-shadow">
		<ion-nav-bar class="bar-easi-blue"> </ion-nav-bar>
		<!-- div of two button -->
		<div class="easi-index-2 home-button-top">
			<button class="button button-icon icon ion-android-calendar" ng-click="today()"></button>
			<button class="button button-icon icon ion-android-apps" ng-click="selectPopover($event)"></button>
		</div>

		<!-- create event button -->
		<button ng-click="goHome()">
			<img class="easi-index-2 home-create-event" src="../img/btn_create.png" alt="Create">
		</button>

		<!-- ion-view is under these three buttons -->
		<ion-nav-view class="easi-index-1"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<menu-panel></menu-panel><!-- directive from menu-panel.html -->
	</ion-side-menu>

	<ion-side-menu side="right">
		<friend-panel></friend-panel><!-- directive from friend-panel.html -->
	</ion-side-menu>
</ion-side-menus>