<!-- starter: Can Duy Cat
	 owner: Ngo Duc Dung
	 last update: 22/03/2015
	 type: calendar template -->

<ion-view title="EasiLendar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
        <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>


    <ion-content scrollbar-y="false" id="content-list-calendar">
      <center><table class="list-calendar">
   			<tr class="tr-list-calendar" ng-repeat="events in listEvents">
                <td class="td-list-calendar-1" ng-repeat="event in events | limitTo:1">
                    <div current-time="event.date" current-month="{{event.month-1}}" current-year="{{event.year}}">
        				<p class="p-list-calendar-number">{{event.start.dateTime.getDate()}}</p>
        				<p class="p-list-calendar-text">{{ days[event.start.dateTime.getDay()] }}</p>
                        <p class="p-list-calendar-month">{{ months[event.start.dateTime.getMonth()]}}</p>
                    </div>
    			</td>
    			<td class="td-list-calendar-2">
    				<div class="div-list-calendar-1" ng-repeat="event in events" background-event="bkgE">
    					<span class="span-title-event">{{event.summary}}</span><br>
    					 <span>Time: {{event.start.dateTime.getHours()}}:{{ (event.start.dateTime.getMinutes()<10)?'0':'' }}{{event.start.dateTime.getMinutes()}}{{ (event.start.dateTime.getHours() >= 12)?' PM':' AM' }} - {{event.end.dateTime.getHours()}}:{{(event.end.dateTime.getMinutes()<10)?'0':''}}{{event.end.dateTime.getMinutes()}}{{( event.end.dateTime.getHours() >= 12)?' PM':' AM' }}
                        </span><br>
    					<span>{{event.location}}</span>
    				</div>
    			</td>
   			</tr>
   		</table></center>
    </ion-content>
</ion-view>
