<!-- starter: Can Duy Cat
	 owner: Ngo Duc Dung
	 last update: 15/03/2015
	 type: calendar template -->

<ion-view title="EasiLendar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
        <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>


    <ion-content padding="true" class="content-month-calendar">
      <center><table class="list-calendar">
   			<tr class="tr-list-calendar" ng-repeat="list in listEvents2">
                <td class="td-list-calendar-1" current-day-in-list = "list.date">
    				<p class="p-list-calendar-number">{{list.date}}</p>
    				<p class="p-list-calendar-text">{{list.day}}</p>
                    <p class="p-list-calendar-month">{{list.month}}</p>
    			</td>
    			<td class="td-list-calendar-2">
    				<div class="div-list-calendar ticket-background" ng-repeat="event in list.events">
    					<span class="span-title-event">{{event.summary}}</span><br>
    					<span>Time: {{event.start}} - {{event.end}}</span><br>
    					<span>Location: {{event.location}}</span>
    				</div>
    			</td>
   			</tr>
   		</table></center>
    </ion-content>
</ion-view>
