<!-- starter: Can Duy Cat
	 owner: Ngo Duc Dung
	 last update: 17/03/2015
	 type: calendar template -->

<ion-view title="EasiLendar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
        <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>


    <ion-content id="content-month-calendar">
      <center><table class="list-calendar">
   			<tr class="tr-list-calendar" ng-repeat="events in listEvents">
                <td class="td-list-calendar-1" ng-repeat="event in events | limitTo:1" current-day-in-list="event.date">
    				<p class="p-list-calendar-number">{{event.date}}</p>
    				<p class="p-list-calendar-text">{{event.day}}</p>
    			</td>
    			<td class="td-list-calendar-2">
    				<div class="div-list-calendar-1" ng-class="randomClass()" ng-repeat="event in events">
    					<span class="span-title-event">{{event.summary}}</span><br>
    					<span>Time: {{event.start.dateTime}} - {{event.end.dateTime}}</span><br>
    					<span>{{event.location}}</span>
    				</div>
    			</td>
   			</tr>
   		</table></center>
    </ion-content>
</ion-view>
