<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 27/06/2015
	 type: menu panel template -->

<ion-content class="easi-back-gray easi-no-border">
	<!-- user information -->
	<a class="item side-menu-item-user"
	ng-click="goToState('myProfile')" menu-close>
		<img src="img/ava{{eUser.uAvatar}}.png">
		<h2><b>{{eUser.uName}}</b></h2>
		<p>{{eUser.uEmail}}@gmail.com</p>
		<h4>Edit Profile</h4>
		<i class="icon ion-ribbon-b easi-vip-color"></i>
	</a>

	<!-- all common item -->
	<!-- look for a personal meeting -->
	<a class="item item-icon-left side-menu-item" ng-click="goToState('searchFilter')" menu-close>
		<i class="icon ion-android-contact"></i>
		<h2 class="easi-light-gray">Appointment</h2>
	</a>

	<!-- look for a group meeting time -->
	<hr class="side-menu-hr">
	<a class="item item-icon-left side-menu-item" ng-click="goToState('comingSoon')" menu-close>
		<i class="icon ion-android-contacts"></i>
		<h2 class="easi-light-gray">Group meeting</h2>
	</a>

	<!-- schedule a lot of event -->
	<hr class="side-menu-hr">
	<a class="item item-icon-left side-menu-item" ng-click="goToState('comingSoon')" menu-close>
		<i class="icon ion-pizza"></i>
		<h2 class="easi-light-gray">EasiSchedule</h2>
	</a>

	<!-- search everythings -->
	<hr class="side-menu-hr">
	<a class="item item-icon-left side-menu-item" ng-click="goToState('search')" menu-close>
		<i class="icon ion-android-search"></i>
		<h2 class="easi-light-gray">Search</h2>
	</a>

	<!-- sync calendar -->
	<hr class="side-menu-hr">
	<a class="item item-icon-left side-menu-item" ng-click="goToState('sync')" menu-close>
		<i class="icon ion-android-download"></i>
		<h2 class="easi-light-gray">Sync</h2>
	</a>

	<!-- TOOLS -->
	<p class="easi-light-gray side-menu-split">TOOLS</p>
	<hr class="side-menu-split">

	<!-- help -->
	<a class="item item-icon-left side-menu-item" ng-click="goToState('comingSoon')" menu-close>
		<i class="icon ion-help-circled"></i>
		<h2 class="easi-light-gray">Helps</h2>
	</a>

	<!-- setting -->
	<hr class="side-menu-hr">
	<a class="item item-icon-left side-menu-item" ng-click="goToState('setting')" menu-close>
		<i class="icon ion-android-settings"></i>
		<h2 class="easi-light-gray">Settings</h2>
	</a>

	<!-- 2 non-sref item -->
	<!-- sign out -->
	<hr class="side-menu-hr">
	<a class="item item-icon-left side-menu-item" ng-click="eDatabase.signOutEasi()" menu-close>
		<i class="icon ion-log-out"></i>
		<h2 class="easi-light-gray">Sign out</h2>
	</a>

	<!-- exit EasiLendar -->
	<hr class="side-menu-hr">
	<a class="item item-icon-left side-menu-item" ng-click="exitEasi()" menu-close>
		<i class="icon ion-android-walk"></i>
		<h2 class="easi-light-gray">Exit</h2>
	</a>
</ion-content>
