<!-- starter: Can Duy Cat
	 owner: Ngo Duc Dung
	 last update: 11/03/2015
	 type: calendar template -->

<ion-view title="EasiLendar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
        <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>

    
    <ion-content padding="true"><center>
        <table class="table-month-calendar easi-no-border">
            <tr class="tr-month-calendar">
                <td class = "td-header-month-calendar">S</td>
                <td class = "td-header-month-calendar">M</td>
                <td class = "td-header-month-calendar">T</td>
                <td class = "td-header-month-calendar">W</td>
                <td class = "td-header-month-calendar">T</td>
                <td class = "td-header-month-calendar">F</td>
                <td class = "td-header-month-calendar">S</td>
            </tr>
            <tr class="tr-month-calendar">
                <td class = "td-month-calendar"></td>
                <td class = "td-month-calendar"></td>
                <td class = "td-month-calendar"></td>
                <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-1" radio-calendar>
                    <label for="radio-month-1">1</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-2" radio-calendar>
                    <label for="radio-month-2">2</label>
                    </div>
                </td>
                <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-3" radio-calendar>
                    <label for="radio-month-3">3</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-4" radio-calendar>
                    <label for="radio-month-4">4</label>
                    </div>
                </td>
            </tr>
            <tr class="tr-month-calendar">
                <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-5" radio-calendar>
                    <label for="radio-month-5">5</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-6" radio-calendar>
                    <label for="radio-month-6">6</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-7" radio-calendar>
                    <label for="radio-month-7">7</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-8" radio-calendar>
                    <label for="radio-month-8">8</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-9" radio-calendar>
                    <label for="radio-month-9">9</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-10" radio-calendar>
                    <label for="radio-month-10">10</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-11" radio-calendar>
                    <label for="radio-month-11">11</label>
                    </div>
                </td>
            </tr>
            <tr class="tr-month-calendar">
                <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-12" radio-calendar>
                    <label for="radio-month-12">12</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-13" radio-calendar>
                    <label for="radio-month-13">13</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-14" radio-calendar>
                    <label for="radio-month-14">14</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-15" radio-calendar>
                    <label for="radio-month-15">15</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-16" radio-calendar>
                    <label for="radio-month-16">16</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-17" radio-calendar>
                    <label for="radio-month-17">17</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-18" radio-calendar>
                    <label for="radio-month-18">18</label>
                    </div>
                </td>
            </tr>
            <tr class="tr-month-calendar">
                <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-19" radio-calendar>
                    <label for="radio-month-19">19</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-20" radio-calendar>
                    <label for="radio-month-20">20</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-21" radio-calendar>
                    <label for="radio-month-21">21</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-22" radio-calendar>
                    <label for="radio-month-22">22</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-23" radio-calendar>
                    <label for="radio-month-23">23</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-24" radio-calendar>
                    <label for="radio-month-24">24</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-25"radio-calendar>
                    <label for="radio-month-25">25</label>
                    </div>
                </td>
            </tr>
            <tr class="tr-month-calendar">
                <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-26" radio-calendar>
                    <label for="radio-month-26">26</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-27" radio-calendar>
                    <label for="radio-month-27">27</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-28" radio-calendar>
                    <label for="radio-month-28">28</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-29" radio-calendar>
                    <label for="radio-month-29">29</label>
                    </div>
                </td>
                 <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-30" radio-calendar>
                    <label for="radio-month-30">30</label>
                    </div>
                </td>
                <td class = "td-month-calendar">
                    <div>
                    <input type="radio" name="month" id="radio-month-31" radio-calendar>
                    <label for="radio-month-31">31</label>
                    </div>
                </td>
                <td class = "td-month-calendar"></td>
            </tr>
        </table>
    </ion-content>
</ion-view>
