<!-- starter: Can Duy Cat
	 owner: Ngo Duc Dung
	 last update: 13/03/2015
	 type: calendar template -->

<ion-view title="EasiLendar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
        <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>

    <ion-content padding="true" class="content-month-calendar">
        <form name="form_month_calendar" ng-class="backgroundMonth()"><center>
            <div class="title-month-calendar">
                <a class="button-calendar button-previous-month icon ion-chevron-left easi-gray" 
                data-ng-click="previousMonth(form_month_calendar)"></a>
                <span class="span-month-calendar">{{currentMonthString}}, {{currentYear}}</span> 
                <i class="button-calendar button-next-month icon ion-chevron-right easi-gray" 
                data-ng-click="nextMonth(form_month_calendar)"></i>  
            </div>

            <table class="table-month-calendar easi-no-border">
                <tr class="tr-month-calendar">
                    <td class="td-header-month-calendar">S</td>
                    <td class="td-header-month-calendar">M</td>
                    <td class="td-header-month-calendar">T</td>
                    <td class="td-header-month-calendar">W</td>
                    <td class="td-header-month-calendar">T</td>
                    <td class="td-header-month-calendar">F</td>
                    <td class="td-header-month-calendar">S</td>
                </tr>

                <tr data-ng-repeat="week in weeks">
                    <td data-ng-repeat="day in week.days" class="td-month-calendar">
                        <div data-different-month="day.month" data-current-day="day.numberDate"
                        current-month="{{currentMonthNumber}}" current-year="{{currentYear}}">
                            <input type="radio" id="{{day.month.toString()+day.numberDate.toString()}}" name="{{backgroundMonthName}}" radio-calendar>
                            <label for="{{day.month.toString()+day.numberDate.toString()}}">{{day.numberDate}}</label>
                        </div>
                    </td>
                </tr>
            </table>
        </center></form>
    </ion-content>
</ion-view>
