<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 27/02/2015
	 type: popover template -->

<ion-popover-view id="popView">
    <div class="bar bar-stable bar-header easi-no-border" id="popBar">
        <p>Notifications</p>
    </div>

    <ion-content style="margin-top:30px; margin-bottom: 30px">
        <ul class="list">
            <li class="item item-icon-left"><i class="icon ion-coffee"></i>
                <p>Ngo Duc Dung accepted your invitation</p>
                <span>48min</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-person-add"></i>
                <p>Ngo Duc Dung accepted your friend request</p>
                <span>50min</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-coffee"></i>
                <p>Nguyen Manh Duy accepted your invitation</p>
                <span>1hour</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-coffee"></i>
                <p>Nguyen Minh Trang accepted your invitation</p>
                <span>1day</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-person-add"></i>
                <p>Nguyen Thi Luong rejected your friend request</p>
                <span>1month</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-coffee"></i>
                <p>Nguyen Minh Trang accepted your invitation</p>
                <span>1day</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-person-add"></i>
                <p>Nguyen Manh Duy accepted your invitation</p>
                <span>1hour</span>
            </li>
        </ul>
    </ion-content>

    <div class="bar bar-stable bar-footer" id="popBar">
        <a>See All</a>
    </div>
</ion-popover-view>
