<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 24/02/2015
	 type: popover template -->

<ion-popover-view style="height: 70vh">
    <div class="bar bar-stable bar-header" style="height: 30px; padding-left: 10px; border-bottom: 0">
        <p>Notifications</p>
    </div>

    <ion-content style="margin-top:30px; margin-bottom: 30px">
        <ul class="list">
            <li class="item item-icon-left"><i class="icon ion-coffee"></i>
                <p>Ngo Duc Dung accepted your invitation
                    <p>
                        <span id="trangXam">48min</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-person-add"></i>
                <p>Ngo Duc Dung accepted your friend request
                    <p>
                        <span id="trangXam">50min</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-coffee"></i>
                <p>Nguyen Manh Duy accepted your invitation
                    <p>
                        <span id="trangXam">1hour</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-coffee"></i>
                <p>Nguyen Minh Trang accepted your invitation
                    <p>
                        <span id="trangXam">1day</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-person-add"></i>
                <p>Nguyen Thi Luong rejected your friend request
                    <p>
                        <span id="trangXam">1month</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-coffee"></i>
                <p>Nguyen Minh Trang accepted your invitation
                    <p>
                        <span id="trangXam">1day</span>
            </li>
            <li class="item item-icon-left"><i class="icon ion-person-add"></i>
                <p>Nguyen Manh Duy accepted your invitation
                    <p>
                        <span id="trangXam">1hour</span>
            </li>
        </ul>
    </ion-content>

    <div class="bar bar-stable bar-footer" style="height: 30px; padding-left: 10px; border-top: 0">
        <p>See All</p>
    </div>
</ion-popover-view>
