<!-- starter: Can Duy Cat
   owner: Can Duy Cat
   last update: 24/03/2015
   type: template for noti friend tab -->
<ul class="list">
	<a class="item my-popover-item" ng-click="showAlert('Friend responds', '', 'All friend respond here!'); closePopover()">
		<img src="img/ava4.png">
		<p class="easi-space">Ngo Duc Dung and 3 other now are your friends</p>
		<span class="badge badge-assertive" style="position: absolute; top: 3px; right: 3px;">4</span>
	</a>
	<div class="item item-divider easi-left" style="min-height: 25px; height: 25px;">
		<p style="margin-top: 2px; width: 100%;">Friend requests</p>
	</div>
	<a class="item my-popover-item" ng-click="friendAction('Ngo Duc Huong')">
		<img src="img/ava1.png">
		<p class="easi-space">Ngo Duc Huong</p>
	</a>
	<a class="item my-popover-item" ng-click="friendAction('Tran Thu Dung')">
		<img src="img/ava5.png">
		<p class="easi-space">Tran Thu Dung</p>
	</a>
	<a class="item my-popover-item" ng-click="friendAction('Nguyen Thi Cam Duy')">
		<img src="img/ava7.png">
		<p class="easi-space">Nguyen Thi Cam Duy</p>
	</a>
	<a class="item my-popover-item" ng-click="friendAction('Nguyen Manh Van')">
		<img src="img/ava3.png">
		<p class="easi-space">Nguyen Manh Van</p>
	</a>
</ul>
