<!-- starter: Can Duy Cat
   owner: Can Duy Cat
   last update: 05/04/2015
   type: template for noti friend tab -->

<ul class="list" ng-style="marginFriendTab">
	<!-- friend request list empty -->
	<a class="button icon-left ion-person-add button-clear button-dark"
	ng-click="closePopover(); goToState('search')"
	ng-show="eUser.uFRLength == 0">
		Look for some friends.
	</a>

	<!-- friend request list -->
	<a ng-repeat="friend in eUser.uFRequest" class="item my-popover-item" ng-click="friendAction(friend.name)">
		<img src="img/ava{{friend.ava}}.png">
		<p class="easi-space">{{friend.name}}</p>
	</a>
</ul>
