<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 07/05/2015
	 type: profile state template -->

<ion-view title="{{eFriend.fName}}">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-home" ng-click="goHome()"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
		<button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
	</ion-nav-buttons>

	<ion-content scroll="false" class="profile-content">
		<div class="item easi-no-padding easi-no-border profile-head-information">
			<div class="item easi-no-padding easi-no-border profile-avatar-container">
				<img data-ng-src="img/ava{{eFriend.fAvatar}}.png"
				class="my-profile-avatar">
			</div>

			<h2 class="easi-index-2 easi-white profile-name">
				{{eFriend.fName}}
			</h2>
			<p class="easi-index-2 easi-dark-blue profile-status">
				({{status().status}})
			</p>

			<div class="bar bar-footer easi-index-1 easi-back-light-gray profile-bar">
				<div class="profile-buttons">
					<button class="button button-icon icon ion-coffee easi-dark-blue profile-button-change"
					ng-click="goToState('searchFilter')"
					ng-show="{{eCheckFriend.isFriend(id)}}"></button>
					<button class="button button-icon icon ion-ios-chatbubble easi-dark-blue profile-button-change"
					ng-click="message()"></button>
					<button class="button button-icon icon {{changeIcon(eFriend.fID)}} easi-red profile-button-change"
					ng-click="changeFunction(eFriend.fID, eFriend.fName)"></button>
				</div>
			</div>
		</div>

		<div class="my-profile-tabs easi-white easi-no-border">
			<div class="easi-center my-profile-tab my-profile-tab-1"
			ng-click="activeTab(0)">
				<input type="radio" id="tab-0" name="tab-group-1" checked>
				<label for="tab-0">Calendar</label>
			</div>
			<div class="easi-center my-profile-tab my-profile-tab-2"
			ng-click="activeTab(1)">
				<input type="radio" id="tab-1" name="tab-group-1">
				<label for="tab-1">Information</label>
			</div>
			<div class="easi-center my-profile-tab my-profile-tab-3"
			ng-click="activeTab(2)">
				<input type="radio" id="tab-2" name="tab-group-1">
				<label for="tab-2">Friends</label>
			</div>
			<div class="easi-center my-profile-tab my-profile-tab-4"
			ng-click="activeTab(3)">
				<input type="radio" id="tab-3" name="tab-group-1">
				<label for="tab-3">More</label>
			</div>
		</div>

		<ion-content scroll="true" class="easi-index-2 profile-second-content">
			<ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" show-pager="false" slide-interval="0">
				<ion-slide>
					<div class="profile-calendar-box">
						<easi-week></easi-week>
					</div>
				</ion-slide>
				<ion-slide>
					<div class="profile-information-box">
						<h1>Information</h1>
					</div>
				</ion-slide>

				<ion-slide>
					<div class="profile-friends-box">
						<div class="card my-profile-friend-card"
						ng-repeat="friend in eFriend.fFriend"
						ng-hide="friend.id == eUser.uID">
							<div class="item my-profile-item-avatar my-profile-friend-card-content">
								<img data-ng-src="img/ava{{friend.ava}}.png"
								class="my-profile-friend-avatar"
								ng-click="eDatabase.viewProfile(friend.id)">
								<h2 class="easi-gray"
								ng-click="eDatabase.viewProfile(friend.id)">
									{{friend.name}}
								</h2>

								<div ng-click="eDatabase.viewProfile(friend.id)">
									<div>
										<i class="icon ion-ribbon-b"> {{friend.VIP}}</i>
									</div>

									<div>
										<i class="icon ion-coffee"> 14</i>
									</div>

									<div>
										<i class="icon ion-android-chat"> 9</i>
									</div>
								</div>

								<button class="button button-icon icon {{changeIcon(friend.id)}} easi-red my-profile-trash-icon"
								ng-click="changeFunction(friend.id, friend.name)"></button>
							</div>
						</div>
					</div>
				</ion-slide>

				<ion-slide>
					<div class="profile-more-box">
						<h2>Coming soon...</h2>
					</div>
				</ion-slide>
			</ion-slide-box>
		</ion-content>
	</ion-content>
</ion-view>
