<!-- starter: Can Duy Cat
	 owner: Nguyen Thi Luong
	 last update: 24/02/2015
	 type: html -->

<ion-view title="Ngo Duc Dung">
    <!-- User name This line can be change-->
    <!-- Button fixed -->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-home" ui-sref="home" menu-close></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
        <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>
    <!-- Main content -->
    <ion-content padding="true">
        <!-- can change -->
        <div id="cover">
            
			<div class=" item item-thumbnail-left">
			<img src="img/boy3.png">
                <!-- avatar -->
                <br>
				 <div id="list-icon" >
                <button id="trangXam" class="button button-icon icon ion-email easi-light-gray"></button>
                <button id="trangXam" class="button button-icon icon ion-coffee easi-light-gray" ui-sref="searchFilter" menu-close></button>
                <button id="trangXam" class="button button-icon icon ion-person-add easi-light-gray"></button>
				</div>
				<div id="centered">
					<h2 style="font-size: 150%; color: #416969">
				
				<i style="color: #FFCC00" class="icon ion-ribbon-b"></i>
				<!-- VIP icon must be appeared if EasiVIP=true -->
				Ngo Duc Dung
				<!--User name-->
			</h2>
                <p>I&#39;m busy now</p>
                <!-- Status must be sync if possible -->
				</div>
            </div>
           
        </div>
        <div style="position: absolute; left: 0">
            <img src="img/week.png" style="width: 100vw; position: absolute; top: 0px">
            <!-- Replace by calendar putting function -->
        </div>
        <!-- out change -->
    </ion-content>
</ion-view>
