<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 24/02/2015
	 type: html -->

<ion-view title="Ngo Duc Dung">
    <!--User name-->
    <!--Button fixed-->
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-home" ui-sref="app.home" menu-close></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
        <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>
    <!--Main content-->
    <ion-content padding="true">
        <div id="cover">
            <div class="item item-thumbnail-left" style="position: absolute; bottom: 10px; background: transparent; border: 0">
                <img src="img/boy3.png">
                <!--avatar-->
                <br>
                <h2 style="font-size: 150%; color: #416969">
			<i style="color: #FFCC00" class="icon ion-ribbon-b"></i>
			<!--VIP icon must be appeared if EasiVIP=true-->
			Ngo Duc Dung
			<!--User name-->
		</h2>
                <p>I&#39;m busy now</p>
                <!--Status must be sync if possible-->
            </div>
            <div style="position: absolute; bottom: 5px; right: 5px; background: transparent; border: 0">
                <button id="trangXam" class="button button-icon icon ion-email"></button>
                <button id="trangXam" class="button button-icon icon ion-coffee" ui-sref="app.search" menu-close></button>
                <button id="trangXam" class="button button-icon icon ion-person-add"></button>
            </div>
        </div>
        <div style="position: absolute; left: 0">
            <img src="img/week.png" style="width: 100vw; position: absolute; top: 0px">
            <!--Replace by calendar putting function-->
        </div>
    </ion-content>
</ion-view>
