<!-- starter: Can Duy Cat
	owner: Can Duy Cat
	last update: 16/03/2015
	type: html -->
<ion-view title="Setting">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-home" ng-click="goHome()"></button>
	</ion-nav-buttons>
	<ion-content padding="true">
		<div class="list">
			<p class="easi-gray setting-title">
				<b>GENERAL</b>
			</p><hr class="setting-separate-bold">

			<div class="item easi-space" ng-click="showAlert('Event options', 'templates/event-select.html', 'Select event types to show!')">
				Event options
			</div>
			<div class="item easi-space" ng-click="showAlert('Select calendar', 'templates/calendar-select.html', 'Select calendar application')" id="setting-last-item">
				Select calendar
			</div>

			<p class="easi-gray setting-title">
				<b>VIEW SETTINGS</b>
			</p><hr class="setting-separate-bold">

			<div class="item easi-space" ng-click="showAlert('Start of the week', 'templates/day-select.html', 'Select the first day of week in the calendar')">
				Start of the week
				<span class="item-note">
					{{eSettings.sFirstDay}}
				</span>
			</div>
			<div class="item easi-space" ng-click="showAlert('Default view', 'templates/default-view-select.html', 'Select the default calendar in home page')">
				Default view
				<span class="item-note">
					{{eSettings.sDefaultView}} calendar
				</span>
			</div>
			<div class="item easi-space" ng-click="showAlert('Day view option', 'templates/day-view-option.html',  'Select the default view of day calendar')" id="setting-border-under-bold">
				Day view option
				<span class="item-note">
					{{eSettings.sDayView}}
				</span>
			</div>
			<div class="item item-toggle" id="setting-last-item">
				<p class="easi-space" id="font17">Show week number</p>
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="eSettings.sShowWeekNumber">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>

			<p class="easi-gray setting-title">
				<b>OTHER</b>
			</p><hr class="setting-separate-bold">

			<div class="item item-toggle" id="setting-last-item">
				<p class="easi-space" id="font17">Auto sync</p>
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="eSettings.sAutoSync">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			<div class="item easi-space" ng-click="eSettings.sAutoSync ? showAlert('Auto sync option', 'templates/default-sync-option.html', 'Select conection to auto sync') : showAlert('Oop! Auto sync is turned off!', '', 'Turn it on to use this feature')" id="setting-border-under-bold">
				Auto sync option
				<p><small>Auto sync with {{eSettings.sSyncWith}}</small></p>
			</div>

			<div class="item item-toggle" id="setting-last-item">
				<p class="easi-space" id="font17">Use device time zone</p>
				<label class="toggle toggle-dark">
					<input type="checkbox" ng-model="eSettings.sDeviceTimeZone">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			<div class="item easi-space" ng-click="!eSettings.sDeviceTimeZone ? showAlert('Time zone','templates/default-time-option.html', 'Search for your time zone.') : showAlert('Use device time zone', '', 'Turn it off to change time zone yourself')">
				Time zone
				<p><small>{{eSettings.sZoneName[eSettings.sTimeZone+11]}}</small></p>
			</div>

			<div class="item easi-space" ng-click="showAlert('Default event duration', 'templates/default-event-duration.html', 'Select default duration for new event')">
				Default event duration
			</div>

			<div class="item easi-space" ui-sref="comingSoon" menu-close>
				Suggested apps
			</div>

			<div class="item easi-space" ui-sref="about" menu-close id="setting-last-item">
				<b>About</b>
			</div>
		</div>
	</ion-content>
</ion-view>
