<!-- starter: Can Duy Cat
	 owner: Ngo Duc Dung
	 last update: 30/04/2015
	 type: share state template-->

<ion-view title="Share">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-home" ng-click="goHome()"></button>
	</ion-nav-buttons>

	<div class="share-content easi-full-blue">
		<show-hide-options class="share-div-all-sites">
			<div class="share-div-{{site.name}}" data-ng-repeat="site in allSites">
				<div class="share-site-icon" data-ng-click="showHideOptions()" animation>
					<img class="share-img-{{site.name}}" data-ng-src="img/{{site.name}}.png">
					<div class="share-site-name-{{site.name}}">{{(site.name == 'sms') ? site.name.toUpperCase():site.name.charAt(0).toUpperCase() + site.name.substr(1,site.name.length-1)}}</div>
				</div>

				<div class="share-options" data-ng-show="show">
					<div class="share-option-{{option.id}}" data-ng-repeat="option in site.options" data-ng-click="handleOptions(site.name,option.id)">
						<i ng-show="option.id == 'share' || option.id == 'send'" class="share-option-icon {{(option.id == 'share') ? 'ion-android-share-alt':'ion-chatboxes'}}"></i>
						<i ng-show="option.id == 'like' || option.id == 'logout'" class="share-option-icon {{(option.id == 'like') ? 'ion-heart':'ion-reply'}}"></i>
						<div class="share-option-name">{{option.name}}</div>
					</div>
				</div>
			</div>
		</show-hide-options>
	</div>
</ion-view>
