<!-- starter: Can Duy Cat
	owner: Ngo Duc Dung
	last update: 28/04/2015
	type: html -->

<ion-view title="Sync" data-ng-init= "handleClientLoad()">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-home" ng-click="goHome()"> </button>
	</ion-nav-buttons>
	
	<ion-content id="sync-content" class="sync-content">
		<div data-ng-repeat="apps in allApps">
			<p class="sync-p-title-{{apps.title}}">{{apps.title.toUpperCase()}} {{(apps.title == 'social') ? 'NETWORK':'APPS'}}</p>
			<hr class="sync-hr-title"></hr>
			<slide-toggle-sync class="item sync-slide-{{app.name}}" data-ng-repeat="app in apps.array">
				<div class="sync-div-name" data-ng-click="toggleFunc(app.name)">
					<img class="sync-img-{{app.name}}" data-ng-src="img/{{app.name}}.png">
					<div class="sync-div-title-{{app.name}}">{{app.name.charAt(0).toUpperCase() + app.name.substr(1,app.name.length-1)}} {{(app.name == 'facebook')?'':'Calendar'}}</div>
				</div>
				<div class="sync-div-options" toggle="visible.value">
					<div id="sync-{{option.id}}" class="sync-{{option.id}}-{{app.name}}" data-ng-click="(option.name=='Update events') ? updateEvents(app.name):logout(app.name)" data-ng-repeat="option in app.options">
					<i class="sync-icon-{{option.id}} {{(option.name == 'Update events') ? 'ion-loop':'ion-reply'}}"></i>
					{{option.name}}
					</div>
				</div>
			</slide-toggle-sync>
		</div>
	</ion-content>
</ion-view>
