<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 27/02/2015
	 type: popup template -->

<ul class="list">
    <li class="item item-checkbox">
        <label class="checkbox checkbox-easi-blue">
            <input type="checkbox" checked>
        </label>
        <h2 class="easi-space">Auto sync</h2>
    </li>

    <li class="item item-checkbox">
        <label class="checkbox checkbox-easi-blue">
            <input type="checkbox">
        </label>
        <h2 class="easi-space">Sync with wifi</h2>
    </li>

    <li class="item item-checkbox">
        <label class="checkbox checkbox-easi-blue">
            <input type="checkbox">
        </label>
        <h2 class="easi-space">Sync with 3G</h2>
    </li>
</ul>
