<!-- starter: Can Duy Cat
	owner: Nguyen Manh Duy
	last update: 17/03/2015
	type: html -->

<ion-view title="Sync" data-ng-init= "handleClientLoad()">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-home" ui-sref="{{eSettings.sDefaultView}}"> </button>
    </ion-nav-buttons>
	
    <ion-content padding="true" ">	
        <div id="content" style="margin-bottom: 34px">
            <h1  style="font-size: 175%; margin-top: 25px; text-align: center; text-decoration: underline; ">
				<strong style= "color: #b7353b" >Synchronize to Google Calendar</strong>
			</h1>
        </div>
		
		<div style="margin-top: 65px" id="hi">
			<center>
				<h4 id="hello" visibility= "hidden" style= "font-style : italic""></h4>
			</center>
        </div>
		
        <div style="margin-top: 60px" id="div-log-in">
			<center>
				<a id="authorize-button" visibility= "hidden"></a>
			</center>
        </div>

		<div style="margin-top: 45px" id="div-update">
			<center>
				<a id="update-button" visibility= "hidden"></a>
			</center>
        </div>
		
        <p id="events" style="margin-top: 30px"></p>
    </ion-content>
</ion-view>
