<!-- starter: Can Duy Cat
	 owner: Ngo Duc Dung
	 last update: 8/4/2015
	 type: calendar template -->
<div class="title-month-calendar" data-ng-init="buildCurrentMonth()" data-ng-show="showMonthCalendar">
	<a class="button-calendar button-previous-month icon ion-chevron-left easi-gray" data-ng-click="previousMonth()" check-first-day="currentMonthNumber" this-year="{{currentYear}}"></a>
	<span class="span-month-calendar" check-this-month="currentMonthNumber"
	data-ng-click="changeState()">{{currentMonthString}}, {{currentYear}}</span>
	<a class="button-calendar button-next-month icon ion-chevron-right easi-gray" data-ng-click="nextMonth()" check-first-day="currentMonthNumber" this-year="{{currentYear}}"></a>
</div>

<div class="title-month-calendar" data-ng-show="showMonthsList">
	<a class="button-calendar button-previous-month icon ion-chevron-left easi-gray" data-ng-click="previousYear()" check-first-month></a>
	<span class="span-month-calendar" data-ng-click="changeState()">{{currentYear}}</span>
	<a class="button-calendar button-next-month icon ion-chevron-right easi-gray" data-ng-click="nextYear()" check-first-month></a>
</div>

<div scrollbar-y="false" class="month-calendar">
	<center>
		<table class="table-months-list" data-ng-show="showMonthsList">
			<tr data-ng-repeat="month in allMonths">
				<td id="{{month.first}}" class="td-months-list" data-ng-click="thisMonth(currentYear,month.first)" check-first-day="month.first" this-year="{{currentYear}}">
					<p class="p-months-list">{{shortMonths[month.first]}}</p>
				</td>
				<td id="{{month.second}}" class="td-months-list" data-ng-click="thisMonth(currentYear,month.second)" check-first-day="month.second" this-year="{{currentYear}}">
					<p class="p-months-list">{{shortMonths[month.second]}}</p>
				</td>
				<td id="{{month.third}}" class="td-months-list" data-ng-click="thisMonth(currentYear,month.third)" check-first-day="month.third" this-year="{{currentYear}}">
					<p class="p-months-list">{{shortMonths[month.third]}}</p>
				</td>
				<td id="{{month.fourth}}" class="td-months-list" data-ng-click="thisMonth(currentYear,month.fourth)" check-first-day="month.fourth" this-year="{{currentYear}}">
					<p class="p-months-list">{{shortMonths[month.fourth]}}</p>
				</td>
			</tr>
		</table>
	</center>

	<center>
		<table class="table-month-calendar" data-ng-show="showMonthCalendar">
			<tr class="tr-month-calendar">
				<td data-ng-repeat="day in daysInWeek" class="td-header-month-calendar">{{day.day}}</td>
			</tr>
			<tr data-ng-repeat="week in weeks">
				<td data-ng-repeat="day in week.days" class="td-month-calendar">
					<div data-different-month="day.month" data-current-day="day.numberDate" current-month="{{currentMonthNumber}}" current-year="{{currentYear}}" ng-click="showListEvent(day.numberDate,day.month,currentYear)">
						<input type="radio" value="true" id="m{{day.month.toString()+day.numberDate.toString()}}" name="{{currentMonthNumber}}">
						<label for="m{{day.month.toString()+day.numberDate.toString()}}" day-has-event="eUser.uGmailCalendar" current-month="{{currentMonthNumber}}" date="{{day.numberDate}}" month="{{day.month}}" year="{{currentYear}}" current-month="currentMonthNumber">
							{{day.numberDate}}</label>
					</div>
				</td>
			</tr>
		</table>
	</center>

	<ion-content id="content-month-calendar" data-ng-show="showMonthCalendar">
		<center>
			<table class="day-month-calendar">
				<tr class="tr-list-calendar">
					<td class="td-list-calendar-3" ng-repeat="event in eUser.uGmailCalendar[position] | limitTo:1">
						<p class="p-list-calendar-number">{{position.getDate()}}</p>
						<p class="p-list-calendar-text">{{weekDays[(position.getDay()-1
							<0)? 6:position.getDay()-1]}}</p>
					</td>
					<td class="td-list-calendar-4">
						<div class="div-list-calendar-2 background-size" ng-repeat="event in eUser.uGmailCalendar[position]" background-event="bkgE">
							<span class="span-title-event">{{event.summary}}</span>
							<br>
							<span>Time: {{event.start.dateTime.getHours()}}:{{ (event.start.dateTime.getMinutes()<10)?'0':'' }}{{event.start.dateTime.getMinutes()}}{{ (event.start.dateTime.getHours() >= 12)?' PM':' AM' }} - {{event.end.dateTime.getHours()}}:{{(event.end.dateTime.getMinutes()<10)?'0':''}}{{event.end.dateTime.getMinutes()}}{{( event.end.dateTime.getHours() >= 12)?' PM':' AM' }}
						</span>
							<br>
							<span>{{event.location}}</span>
						</div>
					</td>
				</tr>
			</table>
		</center>
	</ion-content>
</div>
