<!-- starter: Can Duy Cat
	 owner: Ngo Duc Dung
	 last update: 27/04/2015
	 type: calendar even list template -->

<ion-content id="month-content-calendar" data-ng-show="showMonthCalendar">
	<center>
	<table class="month-day-calendar">
		<tr class="month-tr-list-calendar">
			<td class="month-td-list-calendar-3" ng-repeat="event in eUser.uGmailCalendar[position] | limitTo:1">
				<p class="list-p-calendar-number">{{position.getDate()}}</p>
				<p class="list-p-calendar-text">{{eCalendar.weekDays[(position.getDay()-1
					<0)? 6:position.getDay()-1]}}</p>
			</td>
			<td class="month-td-list-calendar-4">
				<div class="month-list-div-calendar" ng-repeat="event in eUser.uGmailCalendar[position]" background-event="bkgE">
					<span class="list-span-title-event">{{event.summary}}</span>
					<br>
					<span>Time: {{event.start.dateTime.getHours()}}:{{ (event.start.dateTime.getMinutes()<10)?'0':'' }}{{event.start.dateTime.getMinutes()}}{{ (event.start.dateTime.getHours() >= 12)?' PM':' AM' }} - {{event.end.dateTime.getHours()}}:{{(event.end.dateTime.getMinutes()<10)?'0':''}}{{event.end.dateTime.getMinutes()}}{{( event.end.dateTime.getHours() >= 12)?' PM':' AM' }}
				</span>
				</div>
			</td>
		</tr>
	</table>
	</center>
</ion-content>