<!-- starter: Can Duy Cat
	 owner: Can Duy Cat
	 last update: 05/05/2015
	 type: todo state template-->

<ion-view title="Todo">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-home" ng-click="goHome()"></button>
	</ion-nav-buttons>

	<ion-content scroll="false" class="todo-item-content">
		<div class="list todo-item-list">
			<a class="item item-icon-left easi-gray todo-item" ng-click="showImportantModal()">
				<i class="icon ion-ios-star-half easi-dark-blue"></i> Important
				<span class="badge easi-back-red easi-white">{{countTask().important}}</span>
			</a>

			<a class="item item-icon-left easi-gray todo-item" ng-click="showVeryImportantModal()">
				<i class="icon ion-ios-star easi-dark-blue"></i> Very Important
				<span class="badge easi-back-red easi-white">{{countTask().veryImportant}}</span>
			</a>

			<a class="item item-icon-left easi-gray todo-item" ng-click="showRecentlyModal()">
				<i class="icon ion-android-stopwatch easi-dark-blue"></i> Recently
				<span class="badge easi-back-red easi-white">{{countTask().recently}}</span>
			</a>

			<a class="item item-icon-left easi-gray todo-item" ng-click="showDoneListModal()">
				<i class="icon ion-android-checkbox-outline easi-dark-blue"></i> Done List
			</a>

			<a class="item item-button-right easi-back-light-gray easi-gray todo-main-divider">
				<h2 class="todo-main-divider-title">My checklists</h2>
				<button class="button button-icon icon ion-plus-round easi-mini-up"
				ng-click="createNewChecklist()"></button>
			</a>
		</div>
	</ion-content>

	<ion-content scroll="true" class="todo-checklist-content" data-ng-init="makeChangeTodoList()">
		<ion-list class="todo-checklist-list"
		show-delete="shouldShowDelete">
			<ion-item ng-repeat="checklist in orderChecklist | orderBy: ['done', '-important']"
			class="item item-icon-left item-icon-right easi-gray todo-item"
			on-hold="editChecklist(checklist)">
				<i class="icon {{todoButton[eUser.uTodo[findIndexOf(checklist)].done]}} easi-dark-blue"
				ng-click="showChecklistModal(checklist)"></i>

				<h2 class="easi-gray"
				ng-click="showChecklistModal(checklist)">
					{{eUser.uTodo[findIndexOf(checklist)].listName}}
				</h2>

				<button class="button button-icon icon {{todoIcon[eUser.uTodo[findIndexOf(checklist)].important]}} easi-vip-color"
				ng-click="checkImportantList(eUser.uTodo[findIndexOf(checklist)])"></button>

				<ion-delete-button class="ion-ios-minus easi-red"
				ng-click="deleteChecklistWithoutConfirm(checklist)">
				</ion-delete-button>

				<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
				ng-click="editChecklistTime(checklist)">
					<i class="icon ion-android-time easi-dark-blue"></i>
				</ion-option-button>

				<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
				ng-click="editChecklist(checklist)">
					<i class="icon ion-ios-compose easi-dark-blue"></i>
				</ion-option-button>

				<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
				ng-click="deleteChecklist(checklist)">
					<i class="icon ion-android-delete easi-red"></i>
				</ion-option-button>
			</ion-item>
		</ion-list>

		<div class="todo-modal-content-div"></div>
	</ion-content>

	<div class="todo-important-modal-last"
	on-swipe-up="showMainActionSheet()">
		<p class="easi-center todo-swipe-me-up">
			Swipe me up for action
		</p>
	</div>
</ion-view>

<script id="important-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar-easi-blue item-button-right item-button-left"
		on-swipe-down="hideImportantModal()">
			<div class="buttons easi-index-2">
				<button class="button button-icon icon ion-android-close"
				ng-click="hideImportantModal()"></button>
			</div>

			<p class="easi-title easi-index-1">Important tasks</p>
			<p class="easi-center easi-light-gray easi-index-1 todo-subtitle">
				Swipe down to close
			</p>

			<button class="button button-icon icon ion-android-done-all easi-index-2"
			ng-click="deleteClick()"
			ng-show="shouldShowDelete"></button>
		</ion-header-bar>

		<ion-content>
			<ion-list class="todo-task-list"
			show-delete="shouldShowDelete">
				<div ng-repeat="task in getTaskData.important">
					<ion-item class="item item-icon-left item-icon-right easi-gray todo-item"
					on-hold="editTaskDetail(task.task, task.checklist)">
						<i class="icon ion-paperclip easi-index-1 todo-attach"
						ng-show="isShowAttach(task.task)"></i>
						<i class="icon ion-android-time easi-index-1 todo-clock"
						ng-show="isShowClock(task.task)"></i>

						<button class="button button-icon icon {{todoButton[task.task.done]}} easi-dark-blue easi-index-2 todo-up-item-2line"
						ng-click="checkDoneTask(task.task, task.checklist)"></button>

						<h2 class="easi-gray easi-up easi-index-2"
						ng-click="clickShow($index)">
							{{task.task.title}}
						</h2>
						<p class="easi-index-2 todo-checklist-name-expand"
						ng-click="clickShow($index)">
							{{task.checklist.listName}}
						</p>

						<button class="button button-icon icon {{todoIcon[task.task.important]}} easi-vip-color easi-index-2 todo-up-item-2line"
						ng-click="checkImportantTask(task.task, task.checklist)"></button>

						<ion-delete-button class="ion-ios-minus easi-red"
						ng-click="deleteTaskFromChecklistWithoutConfirm(task.task, task.checklist)">
						</ion-delete-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskTime(task.task, task.checklist)">
							<i class="icon ion-android-time easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCut(task.task, task.checklist)">
							<i class="icon ion-scissors easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCopy(task.task, task.checklist)">
							<i class="icon ion-ios-copy easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskDetail(task.task, task.checklist)">
							<i class="icon ion-ios-compose easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="deleteTaskFromChecklist(task.task, task.checklist)">
							<i class="icon ion-android-delete easi-red"></i>
						</ion-option-button>
					</ion-item>

					<div ng-show="isShowDescription($index)"
					class="easi-no-padding todo-description todo-animate">
						<div class="list card easi-no-margin todo-description-card">
							<p class="item item-icon-left item-text-wrap">
								<i class="icon ion-android-time easi-gray"></i>
								Coming soon...
							</p>
							<p class="item-icon-left item-text-wrap easi-justify todo-description-text">
								<i class="icon ion-ios-paper easi-gray todo-description-icon"></i>
								{{task.task.description != null ? task.task.description : "No description. Swipe left and click edit to add a description."}}
							</p>
						</div>
					</div>
				</div>
			</ion-list>

			<div class="todo-modal-content-div"></div>
		</ion-content>
		<div class="todo-important-modal-last"
		on-swipe-up="showImportantActionSheet()">
			<p class="easi-center todo-swipe-me-up">
			Swipe me up for action
		</p>
		</div>
	</ion-modal-view>
</script>

<script id="very-important-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar-easi-blue item-button-right item-button-left"
		on-swipe-down="hideVeryImportantModal()">
			<div class="buttons easi-index-2">
				<button class="button button-icon icon ion-android-close"
				ng-click="hideVeryImportantModal()"></button>
			</div>

			<p class="easi-title easi-index-1">Very Important tasks</p>
			<p class="easi-center easi-light-gray easi-index-1 todo-subtitle">
				Swipe down to close
			</p>

			<button class="button button-icon icon ion-android-done-all easi-index-2"
			ng-click="deleteClick()"
			ng-show="shouldShowDelete"></button>
		</ion-header-bar>

		<ion-content>
			<ion-list class="todo-task-list"
			show-delete="shouldShowDelete">
				<div ng-repeat="task in getTaskData.veryImportant">
					<ion-item class="item item-icon-left item-icon-right easi-gray todo-item"
					on-hold="editTaskDetail(task.task, task.checklist)">
						<i class="icon ion-paperclip easi-index-1 todo-attach"
						ng-show="isShowAttach(task.task)"></i>
						<i class="icon ion-android-time easi-index-1 todo-clock"
						ng-show="isShowClock(task.task)"></i>

						<button class="button button-icon icon {{todoButton[task.task.done]}} easi-dark-blue easi-index-2 todo-up-item-2line"
						ng-click="checkDoneTask(task.task, task.checklist)"></button>

						<h2 class="easi-gray easi-up easi-index-2"
						ng-click="clickShow($index)">
							{{task.task.title}}
						</h2>
						<p class="easi-index-2 todo-checklist-name-expand"
						ng-click="clickShow($index)">
							{{task.checklist.listName}}
						</p>

						<button class="button button-icon icon {{todoIcon[task.task.important]}} easi-vip-color easi-index-2 todo-up-item-2line"
						ng-click="checkImportantTask(task.task, task.checklist)"></button>

						<ion-delete-button class="ion-ios-minus easi-red"
						ng-click="deleteTaskFromChecklistWithoutConfirm(task.task, task.checklist)">
						</ion-delete-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskTime(task.task, task.checklist)">
							<i class="icon ion-android-time easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCut(task.task, task.checklist)">
							<i class="icon ion-scissors easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCopy(task.task, task.checklist)">
							<i class="icon ion-ios-copy easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskDetail(task.task, task.checklist)">
							<i class="icon ion-ios-compose easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="deleteTaskFromChecklist(task.task, task.checklist)">
							<i class="icon ion-android-delete easi-red"></i>
						</ion-option-button>
					</ion-item>

					<div ng-show="isShowDescription($index)"
					class="easi-no-padding todo-description todo-animate">
						<div class="list card easi-no-margin todo-description-card">
							<p class="item item-icon-left item-text-wrap">
								<i class="icon ion-android-time easi-gray"></i>
								Coming soon...
							</p>
							<p class="item-icon-left item-text-wrap easi-justify todo-description-text">
								<i class="icon ion-ios-paper easi-gray todo-description-icon"></i>
								{{task.task.description != null ? task.task.description : "No description. Swipe left and click edit to add a description."}}
							</p>
						</div>
					</div>
				</div>
			</ion-list>

			<div class="todo-modal-content-div"></div>
		</ion-content>

		<div class="todo-important-modal-last"
		on-swipe-up="showVeryImportantActionSheet()">
			<p class="easi-center todo-swipe-me-up">
				Swipe me up for action
			</p>
		</div>
	</ion-modal-view>
</script>

<script id="recently-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar-easi-blue item-button-right item-button-left"
		on-swipe-down="hideRecentlyModal()">
			<div class="buttons easi-index-2">
				<button class="button button-icon icon ion-android-close"
				ng-click="hideRecentlyModal()"></button>
			</div>

			<p class="easi-title easi-index-1">Recently tasks</p>
			<p class="easi-center easi-light-gray easi-index-1 todo-subtitle">
				Swipe down to close
			</p>

			<button class="button button-icon icon ion-android-done-all easi-index-2"
			ng-click="deleteClick()"
			ng-show="shouldShowDelete"></button>
		</ion-header-bar>

		<ion-content>
			<ion-list class="todo-task-list"
			show-delete="shouldShowDelete">
				<div ng-repeat="task in getTaskData.recently">
					<ion-item class="item item-icon-left item-icon-right easi-gray todo-item"
					on-hold="editTaskDetail(task.task, task.checklist)">
						<i class="icon ion-paperclip easi-index-1 todo-attach"
						ng-show="isShowAttach(task.task)"></i>
						<i class="icon ion-android-time easi-index-1 todo-clock"
						ng-show="isShowClock(task.task)"></i>

						<button class="button button-icon icon {{todoButton[task.task.done]}} easi-dark-blue easi-index-2 todo-up-item-2line"
						ng-click="checkDoneTask(task.task, task.checklist)"></button>

						<h2 class="easi-gray easi-up easi-index-2"
						ng-click="clickShow($index)">
							{{task.task.title}}
						</h2>
						<p class="easi-index-2 todo-checklist-name-expand"
						ng-click="clickShow($index)">
							{{task.checklist.listName}}
						</p>

						<button class="button button-icon icon {{todoIcon[task.task.important]}} easi-vip-color easi-index-2 todo-up-item-2line"
						ng-click="checkImportantTask(task.task, task.checklist)"></button>

						<ion-delete-button class="ion-ios-minus easi-red"
						ng-click="deleteTaskFromChecklistWithoutConfirm(task.task, task.checklist)">
						</ion-delete-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskTime(task.task, task.checklist)">
							<i class="icon ion-android-time easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCut(task.task, task.checklist)">
							<i class="icon ion-scissors easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCopy(task.task, task.checklist)">
							<i class="icon ion-ios-copy easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskDetail(task.task, task.checklist)">
							<i class="icon ion-ios-compose easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="deleteTaskFromChecklist(task.task, task.checklist)">
							<i class="icon ion-android-delete easi-red"></i>
						</ion-option-button>
					</ion-item>

					<div ng-show="isShowDescription($index)" class="easi-no-padding todo-description todo-animate">
						<div class="list card easi-no-margin todo-description-card">
							<p class="item item-icon-left item-text-wrap">
								<i class="icon ion-android-time easi-gray"></i>
								Coming soon...
							</p>
							<p class="item-icon-left item-text-wrap easi-justify todo-description-text">
								<i class="icon ion-ios-paper easi-gray todo-description-icon"></i>
								{{task.task.description != null ? task.task.description : "No description. Swipe left and click edit to add a description."}}
							</p>
						</div>
					</div>
				</div>
			</ion-list>

			<div class="todo-modal-content-div"></div>
		</ion-content>

		<div class="todo-important-modal-last"
		on-swipe-up="showRecentlyActionSheet()">
			<p class="easi-center todo-swipe-me-up">
				Swipe me up for action
			</p>
		</div>
	</ion-modal-view>
</script>

<script id="done-list-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar-easi-blue item-button-right item-button-left"
		on-swipe-down="hideDoneListModal()">
			<div class="buttons easi-index-2">
				<button class="button button-icon icon ion-android-close"
				ng-click="hideDoneListModal()"></button>
			</div>

			<p class="easi-title easi-index-1">Done List</p>
			<p class="easi-center easi-light-gray easi-index-1 todo-subtitle">
				Swipe down to close
			</p>

			<button class="button button-icon icon ion-android-done-all easi-index-2"
			ng-click="deleteClick()"
			ng-show="shouldShowDelete"></button>
		</ion-header-bar>

		<ion-content>
			<a class="item easi-back-light-gray easi-gray todo-main-divider">
				<h2 class="todo-main-divider-title">
					Done Task in undone Checklist
				</h2>
			</a>

			<ion-list class="todo-task-list"
			show-delete="shouldShowDelete">
				<div ng-repeat="task in getTaskData.doneList">
					<ion-item class="item item-icon-left item-icon-right easi-gray todo-item"
					on-hold="editTaskDetail(task.task, task.checklist)">
						<i class="icon ion-paperclip easi-index-1 todo-attach"
						ng-show="isShowAttach(task.task)"></i>
						<i class="icon ion-android-time easi-index-1 todo-clock"
						ng-show="isShowClock(task.task)"></i>

						<button class="button button-icon icon {{todoButton[task.task.done]}} easi-dark-blue easi-index-2 todo-up-item-2line"
						ng-click="checkDoneTask(task.task, task.checklist)"></button>

						<h2 class="easi-gray easi-up easi-index-2"
						ng-click="clickShow($index)">
							{{task.task.title}}
						</h2>
						<p class="easi-index-2 todo-checklist-name-expand"
						ng-click="clickShow($index)">
							{{task.checklist.listName}}
						</p>

						<button class="button button-icon icon {{todoIcon[task.task.important]}} easi-vip-color easi-index-2 todo-up-item-2line"
						ng-click="checkImportantTask(task.task, task.checklist)"></button>

						<ion-delete-button class="ion-ios-minus easi-red"
						ng-click="deleteTaskFromChecklistWithoutConfirm(task.task, task.checklist)">
						</ion-delete-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskTime(task.task, task.checklist)">
							<i class="icon ion-android-time easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCut(task.task, task.checklist)">
							<i class="icon ion-scissors easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCopy(task.task, task.checklist)">
							<i class="icon ion-ios-copy easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskDetail(task.task, task.checklist)">
							<i class="icon ion-ios-compose easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="deleteTaskFromChecklist(task.task, task.checklist)">
							<i class="icon ion-android-delete easi-red"></i>
						</ion-option-button>
					</ion-item>

					<div ng-show="isShowDescription($index)" class="easi-no-padding todo-description todo-animate">
						<div class="list card easi-no-margin todo-description-card">
							<p class="item item-icon-left item-text-wrap">
								<i class="icon ion-android-time easi-gray"></i>
								Coming soon...
							</p>
							<p class="item-icon-left item-text-wrap easi-justify todo-description-text">
								<i class="icon ion-ios-paper easi-gray todo-description-icon"></i>
								{{task.task.description != null ? task.task.description : "No description. Swipe left and click edit to add a description."}}
							</p>
						</div>
					</div>
				</div>
			</ion-list>

			<a class="item easi-back-light-gray easi-gray todo-main-divider">
				<h2 class="todo-main-divider-title">
					Done Checklist
				</h2>
			</a>

			<ion-list class="todo-checklist-list"
			show-delete="shouldShowDelete">
				<ion-item ng-repeat="checklist in getDoneChecklistData"
				class="item item-icon-left item-icon-right easi-gray todo-item"
				on-hold="editChecklistDirectly(checklist.index)">
					<i class="icon {{todoButton[checklist.checklist.done]}} easi-dark-blue"
					ng-click="showChecklistModalIndex(checklist.index); hideDoneListModal();"></i>

					<h2 class="easi-gray"
					ng-click="showChecklistModalIndex(checklist.index); hideDoneListModal();">
						{{eUser.uTodo[checklist.index].listName}}
					</h2>

					<button class="button button-icon icon {{todoIcon[eUser.uTodo[checklist.index].important]}} easi-vip-color"
					ng-click="checkImportantList(eUser.uTodo[checklist.index])"></button>

					<ion-delete-button class="ion-ios-minus easi-red"
					ng-click="deleteChecklistWithoutConfirmDirectly(checklist.index)">
					</ion-delete-button>

					<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
					ng-click="editChecklistTime(checklist)">
						<i class="icon ion-android-time easi-dark-blue"></i>
					</ion-option-button>

					<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
					ng-click="editChecklistDirectly(checklist.index)">
						<i class="icon ion-ios-compose easi-dark-blue"></i>
					</ion-option-button>

					<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
					ng-click="deleteChecklistDirectly(checklist.index)">
						<i class="icon ion-android-delete easi-red"></i>
					</ion-option-button>
				</ion-item>
			</ion-list>

			<div class="todo-modal-content-div"></div>
		</ion-content>

		<div class="todo-important-modal-last"
		on-swipe-up="showDoneListActionSheet()">
			<p class="easi-center todo-swipe-me-up">
				Swipe me up for action
			</p>
		</div>
	</ion-modal-view>
</script>

<script id="checklist-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar-easi-blue item-button-right item-button-left"
		on-swipe-down="hideChecklistModal()">
			<div class="buttons easi-index-2"
			ng-show="!shouldShowReorder">
				<button class="button button-icon icon ion-android-close"
				ng-click="hideChecklistModal()"></button>
			</div>

			<div class="buttons easi-index-2"
			ng-show="shouldShowReorder">
				<button class="button button-icon icon ion-android-done-all easi-index-2"
				ng-click="reorderClick()"></button>
			</div>

			<p class="easi-title easi-index-1">{{eUser.uTodo[viewList].listName}}</p>
			<p class="easi-center easi-light-gray easi-index-1 todo-subtitle">
				Swipe down to close
			</p>

			<button class="button button-icon icon ion-android-done-all easi-index-2"
			ng-click="deleteClick()"
			ng-show="shouldShowDelete"></button>
		</ion-header-bar>

		<ion-header-bar class="bar-subheader todo-create-bar"
		ng-click="initializeDataCreate(); createClick();">
			<label class="item item-input todo-create-title-input">
				<span class="input-label">Create new task</span>
				<input class="todo-input" type="text" placeholder="Title"
				ng-model="data.newTitle">
			</label>
		</ion-header-bar>

		<div ng-show="isCreate"
		class="card easi-index-2 easi-back-light-gray todo-create-task todo-create-animate"
		on-swipe-up="isCreate = false; semaphore = true; data={};">
			<div class="list card easi-index-1 easi-no-margin todo-create-card">
				<p class="item item-icon-left item-text-wrap easi-index-1">
					<i class="icon ion-android-time easi-gray"></i>
					Coming soon...
				</p>
				<label class="item item-icon-left item-text-wrap easi-justify todo-create-description-text easi-index-1">
					<i class="icon ion-ios-paper easi-gray todo-description-icon"></i>
					<textarea class="todo-create-input-description"
					ng-model="data.newDescrip" placeholder="Enter a new description"></textarea>
				</label>
			</div>

			<div class="easi-index-2 todo-create-star-div" ng-click="clickImportantCreate()">
				<i class="icon {{todoIcon[data.important]}} easi-vip-color todo-create-star-icon"></i>
			</div>

			<div class="todo-button-create-div">
				<button class="button easi-back-red easi-white todo-button-create-cancel"
				ng-click="resetCreate()">
					Cancel
				</button>

				<button class="button easi-back-dark-blue easi-white todo-button-create-cancel"
				ng-click="createTask()">
					Create
				</button>
			</div>
		</div>

		<ion-content class="easi-index-1">
			<ion-list class="todo-task-list"
			show-delete="shouldShowDelete"
			show-reorder="shouldShowReorder">
				<div ng-repeat="task in eUser.uTodo[viewList].list">
					<ion-item class="item item-icon-left item-icon-right easi-gray todo-item"
					on-hold="editTaskDetail(task, eUser.uTodo[viewList])">
						<i class="icon ion-paperclip easi-index-1 todo-attach"
						ng-show="isShowAttach(task)"></i>
						<i class="icon ion-android-time easi-index-1 todo-clock"
						ng-show="isShowClock(task)"></i>

						<button class="button button-icon icon {{todoButton[task.done]}}
						easi-dark-blue easi-index-2 todo-up-item-2line"
						ng-click="checkDoneTask(task, eUser.uTodo[viewList])"></button>

						<h2 class="easi-gray easi-up easi-index-2"
						ng-click="clickShow($index)">
							{{task.title}}
						</h2>
						<p class="easi-index-2 todo-checklist-name-expand"
						ng-click="clickShow($index)">
							{{eUser.uTodo[viewList].listName}}
						</p>

						<button class="button button-icon icon {{todoIcon[task.important]}} easi-vip-color easi-index-2 todo-up-item-2line"
						ng-click="checkImportantTask(task, eUser.uTodo[viewList])"></button>

						<ion-delete-button class="ion-ios-minus easi-red"
						ng-click="deleteTaskFromChecklistWithoutConfirm(task, eUser.uTodo[viewList])">
						</ion-delete-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskTime(task, eUser.uTodo[viewList])">
							<i class="icon ion-android-time easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCut(task, eUser.uTodo[viewList])">
							<i class="icon ion-scissors easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskCopy(task, eUser.uTodo[viewList])">
							<i class="icon ion-ios-copy easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="editTaskDetail(task, eUser.uTodo[viewList])">
							<i class="icon ion-ios-compose easi-dark-blue"></i>
						</ion-option-button>

						<ion-option-button class="button button-icon easi-back-white todo-option-checklist"
						ng-click="deleteTaskFromChecklist(task, eUser.uTodo[viewList])">
							<i class="icon ion-android-delete easi-red"></i>
						</ion-option-button>

						<ion-reorder-button class="ion-arrow-move easi-dark-blue"
						on-reorder="moveItem(task, $fromIndex, $toIndex)">
						</ion-reorder-button>
					</ion-item>

					<div ng-show="isShowDescription($index)" class="easi-no-padding todo-description todo-animate">
						<div class="list card easi-no-margin todo-description-card">
							<p class="item item-icon-left item-text-wrap">
								<i class="icon ion-android-time easi-gray"></i>
								Coming soon...
							</p>
							<p class="item-icon-left item-text-wrap easi-justify todo-description-text">
								<i class="icon ion-ios-paper easi-gray todo-description-icon"></i>
								{{task.description != null ? task.description : "No description. Swipe left and click edit to add a description."}}
							</p>
						</div>
					</div>
				</div>
			</ion-list>

			<div class="todo-modal-content-div"></div>
		</ion-content>
		<div class="easi-index-2 todo-important-modal-last" on-swipe-up="showChecklistActionSheet()">
			<p class="easi-center todo-swipe-me-up">Swipe me up for action</p>
		</div>
	</ion-modal-view>
</script>
