<!-- starter: Can Duy Cat
	 owner: Nguyen Minh Trang
	 last update: 17/03/2015
	 type: calendar template -->

<ion-view title="EasiLendar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
        <button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
    </ion-nav-buttons>
    
    <div class="week background" data-ng-class="calendar.navBackground"">
    	<div class="header">
    		<button class="icon ion-chevron-left easi-dark-blue" 
                data-ng-click="calendar.prevWeek()"></button>
            <div>{{months[calendar.navMonth]+", "+calendar.navYear}}</div> 
            <button class="icon ion-chevron-right easi-dark-blue" 
                data-ng-click="calendar.nextWeek()"></button>  
    	</div>
    	
    	<div class="calendar">
    		<div class="daytag">
    			<div class="row day">
    				<div class="col" data-ng-repeat="day in weekDays">
    					{{day}}
    				</div>
    			</div>
    			<div class="row date">
    				<div class="col" data-ng-repeat="date in calendar.navDates">
    					{{date.date}}
    				</div>
    			</div>
			</div>
			  		
    		<ion-content scrollbar-y="false">
    		  	<div class="row row-content">
    				<div class="hours">
    					<div class="hour" data-ng-repeat="x in calendar.hours">
    						{{x}}
    					</div>
    				</div>
    				<div class="col daycol" data-ng-repeat="date in calendar.navDates">
    					<div class="event" data-ng-repeat="event in date.events" 
    						data-ng-style="event.style">
    						{{event.summary}}
    					</div>
    				</div>
    		    </div>
    		</ion-content>
    	</div>
    </div>
</ion-view>
