/**
* starter: Can Duy Cat
* owner: Nguyen Thi Luong
* last update: 26/02/2015
* type: personal css
*/
/* profile */
#cover{
	background-image:url(../img/smart_hotel.jpg);
	background-position: center center;
	/*background-size: 100% 100%;*/
	background-origin: content-box;
	height:25vh;
	margin:0 auto 0 auto;
	max-width:700px;
	max-height:350px;
	position:relative;
	}
#avatar-vip{
	margin-top:45px;
	height:100px;
	width:100px;	
	position: absolute;
	bottom:5px;
	left:3px;
	margin-left:5px;
	}
#vipx{
	height:15px;
	width:15px;
	position: absolute;
	top:0px;
	right:8px;
	}
#avatar{
	margin-top:10px;
	margin-left:2px;
	height:100px;
	width:100px;
	position: absolute;
	bottom:0px;
	left:0px;	
	}
#username{
	font-size:17px;
	height:30px;
	width:300px;
	left:100px;
	bottom: 25px;
	margin-left: 10px;
	position: absolute;	
	}
#end-cover{
	background-color:#A9BFD4;
	position: absolute;
	height: 30px;
	margin: 0 auto 0 auto;
	width:100%;
	max-width:700px;
	bottom:0px;
	}
#inform{	
	height:25px;
	margin-left:120px;
	width:400px;
	bottom: 3px;
	background-color:#A9BFD4;
	position:absolute;
	}
#item-imagex{	
	height:90%;
	width:90%;
	max-height:100px;
	max-width:100px;
	margin-bottom: 1px;
	margin-left: 1px;
	bottom:5px;
	}
#list-icon{
	position: absolute;
    bottom: -10px; 
	margin-right:5px;
    right: 0; 
    background: transparent;
    border: 0;		
 	float:right;
	}
.tabs{
	background-color:#DCDCF2;
	margin-top:0px;
	z-index:1;
	left:0px;
	position: relative;
	max-width:700px;
	width:100%;
	max-height:60px;
	height: 40px;
	text-align: left;
	margin: 0 auto 0 auto;
	border: 1px solid black;
	background-color: #F7F7FF;
	}
.fontOfTab{font-size:16px;margin-top:-6px;}
.nothing{
	position:relative;
	margin-left:-4px;
	margin-right:-24px;
	text-align:left;
	border:1px solid black;
	width:20px;
	}
.tab-fix{height:60px;}
.icon.ion-ribbon-b{color: #FFCC00;	size: 50px;}
#eding{
	background-color:#F7F7FF;
	margin-top:10px;
	position: relative;
	max-width:700px;
	width:100%;
	max-height:500px;
	margin: 0 auto 0 auto;
	border: 1px solid #CCCCB2;
	background-origin: content-box;
	}
.showtab{position:relative;	max-width:700px;	margin:0 auto 0 auto;}
/*introduction */
#information{
	position:relative;
	max-height:800px;
	max-width:700px;
	height:500px;
	width: 600px;
}
#information-tab{
	position:relative;
	max-height:300px;
	max-width:200px;
	height:50vh;
	width:100%;
	}
#information-in-tab{
	position:absolute;
	left:150px;
	top:0px;
	}
/*Friend*/
#friends{	position:relative;	height:60px;}
#friend-name{
	position:absolute;
	left:60px;
	top:15px;
	float:center;
	}
#friend-avatar{	width:55px;	height:55px;	top:5px;}
/*Calendar in profile*/
.easiweek{
	margin-top:-20px;
	background-attachment:fixed;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	height:550px;
	padding-bottom: 50px;
	}

.notEasiWeek{height:500px;	font-size:20px;	background:#E6E6E6;position:relative;margin-top:-20px;}
.suggest{
	top:10%;
	position: absolute;
	left:10%;
	text-overflow: ellipsis; 
    overflow: hidden; 
	white-space: pre-line;
    width:80%}
/*DAY CALENDAR */
#h2-month{margin-left:15% ;margin-top:10px; color: #002900;}
#x{max-width:800px;width:100%;margin-bottom:20px; padding-bottom:5px; }
#x1{width:10%;text-align:left;margin-left:10px;}
#x2{width:80% ;margin-left:1.5%;}
#x3{width:40px;margin-right:10px;}
#xxx{
	color: #416969;
	font-size:15.5px;
	height:40px;
	margin-top:20px;
	margin-left:10px;
	margin-bottom: 20px;
	padding-bottom:15px;
	
	
	
}
.day-table-calendar {margin-top:-25px;max-width:800px;width:100%;}
.tr-day-calendar {}
.td-day-calendar-1 { width: 12%; color: #646464; text-align: center; font-size: 30px; margin-right:10px;}
.td-day-calendar-1:hover{ color: #33CCCC; }
.td-day-calendar-2 { width: 80%; color: #ffffff;}
.div-day-calendar{
	 margin-left: 7px; 
	 margin-top:5px;
    margin-bottom: 10px; 
    padding: 10px; 
    font-size: 16px; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    width: 70%;
    max-width: 430px;}
.p-day-calendar-number, .p-day-calendar-text { width: 100%; padding-top: 15px;}
.p-day-calendar-text { font-size: 15px; margin-top: -20px;}
.event-color-1 { background-color: #32CD32;}
.event-color-2 { background-color: #33CCCC;}
.event-color-3 { background-color: #315050;}
.event-color-4 { background-color: #191970;}
.event-color-5 { background-color: #FF0000;}


#yyy{
	color: #416969;
	position: absolute;
	left:80%;
	font-size:200%;
}
.bkg{ background-repeat: no-repeat; background-position:center center; margin: 0 auto 0 auto;height: 250px; width: 100%; max-width:960px;  padding-bottom:-10px;}}
.bkg-01{ background: url("../img/bkg_01_jan.jpg") no-repeat;  background-size: 100% 100%; background-position:center center; height: 200px; width: 100%; max-width:500px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-02{ background: url("../img/bkg_02_feb.jpg") no-repeat;   background-size: 100% 100%; background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-03{ background: url("../img/bkg_03_mar.jpg") no-repeat;  background-size: 100% 100%; background-position:center center; height:250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-04{ background: url("../img/bkg_04_apr.jpg") no-repeat;   background-size: 100% 100%; background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-05{ background: url("../img/bkg_05_may.jpg") no-repeat;   background-size: 100% 100%; background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-06{ background: url("../img/bkg_06_jun.jpg") no-repeat;   background-size: 100% 100%; background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-07{ background: url("../img/bkg_07_jul.jpg") no-repeat;   background-size: 100% 100%; background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-08{ background: url("../img/bkg_08_aug.jpg") no-repeat;  background-size: 100% 100%;  background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-09{ background: url("../img/bkg_09_sep.jpg") no-repeat;   background-size: 100% 100%; background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-10{ background: url("../img/bkg_10_oct.jpg") no-repeat;   background-size: 100% 100%; background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-11{ background: url("../img/bkg_11_nov.jpg") no-repeat;   background-size: 100% 100%; background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.bkg-12{ background: url("../img/bkg_12_dec.jpg") no-repeat;   background-size: 100% 100%; background-position:center center; height: 250px; width: 100%; max-width:960px; margin: 0 auto 0 auto; padding-bottom:-10px;}
.button-previous-day {margin-left:5px;}
.button-next-day {margin-right:10px; }

.zzz {
	padding: 0;
	margin-top:-50px;
	margin-bottom:30%;
	margin: 250px auto 0 auto;
}
#table1 table{margin-top:-15px;border: 1px solid #7D7D83;
    border-collapse: collapse;
	background-color:#A7C942;
    margin: 0 auto 0 auto;}
}
#table1 tr {height:25px;width:700px;}
#table1 td{width:400px;height:25px;}
#table1 .td1{width:10%;border: 1px solid #7D7D83;
    border-collapse: collapse;
    margin: 0 auto 0 auto;


}
#table1 .td2{width:385px;border: 1px solid #7D7D83;
    border-collapse: collapse;
    margin: 0 auto 0 auto;
background-color:while;
}
}
.td3{width:85%;background-color: #F39;height:25px}
.td4{width:85%;background-color: #9CF;height:25px}
.td5{width:85%;background-color: #0F9;height:25px}
#chia-rong{height:15px; background-color:white; border: 1px solid border: 1px solid #A7C942;; margin: 0 auto 0 auto;}