<!-- starter: Can Duy Cat
	 owner: Nguyen Thi Luong
	 last update: 04/04/2015
	 type: html -->
	 
	 
	 <ion-view title={{eFriend.fName}}>
		<!-- User name This line can be change-->
		<!-- Button fixed -->
		<ion-nav-buttons side="left"><!--goToState("month")-->
			<button class="button button-icon button-clear ion-home" ng-click="goHome()" menu-close></button>
		</ion-nav-buttons>
		
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-earth" ng-click="openPopover($event)"></button>
			<button class="button button-icon button-clear ion-person-stalker" menu-toggle="right"></button>
		</ion-nav-buttons>
		<!-- -->
		<div id="cover">
		<div id= "end-cover">
			<div id="inform">view:525</div>
				<div id="list-icon">
					<button class="button button-icon icon ion-email easi-light-gray"></button>
					<button class="button button-icon icon ion-coffee easi-light-gray" ui-sref="searchFilter" menu-close></button>
					<button data-ng-click ="deleteFriend(eFriend.fID)" data-ng-show="isFriend(eFriend.fID)" class="button button-icon icon ion-close-round easi-light-gray"></button>
					<button data-ng-click="addNewFriend(eFriend.fID)" data-ng-show="notFriend(eFriend.fID)"class="button button-icon icon ion-person-add easi-light-gray"></button>
				</div>
			</div>
				<div style="margin-top: 30px" id="div-log-in">
			<center>
				<a id="authorize-button" visibility= "hidden"></a>
			</center>
        </div>
			<div id="avatar-vip">
				<div id="avatar">
					<div id="vipx"><h2 class="customer">
						<i  data-ng-show="eFriend.fVIP" class="icon ion-ribbon-b"></i></h2>
					</div>
					<img id="item-imagex" src="img/ava{{eFriend.fAvatar}}.png" >
				</div>
				<p id= "username">{{eFriend.fName}}</p>
			</div>
		</div>
		<section ng-controller="ProfileController as tab">
		<div class="tabs-striped tab-fix tabs-color-blue">
			<div class="tabs">
				<a class="tab-item active" href="" ng-class="{ active:tab.isSet(1) }" ng-click="tab.setTab(1)"><p class="fontOfTab">	Calendar	</p></a>
				<a class="tab-item" href="" ng-class="{ active:tab.isSet(2) }" ng-click="tab.setTab(2)"><p class="fontOfTab">	Information	</p></a>
				<a class="tab-item" href="" ng-class="{ active:tab.isSet(3) }" ng-click="tab.setTab(3)"><p class="fontOfTab">	Friends		</p></a>
				<a class="tab-item" href="" ng-class="{ active:tab.isSet(4) }" ng-click="tab.setTab(4)"><p class="fontOfTab">	Attention	</p></a>		 	
			</div>
		</div>
		 <div class ="showtab" ng-show="tab.isSet(1)">         
		 <div class = "notEasiWeek" data-ng-show="calendarOfFriend()">
		 <div class =	"suggest">
		 {{notCalendar}}</div> </div>
        <div class ="easiweek" data-ng-class="weekCalendar.navBackground">
			<easi-week></easi-week>
		</div>
          </div>
		<div class ="showtab" ng-show="tab.isSet(2)">
            <div id="information">
				<div id="information-tab">
					<ul class="nav nav-pills">
						<p ng-class="{ active:tab.isSet(7) }">
						<blockquote>  <p href="" ng-click="tab.setTab(7)">Survey</p></blockquote>
						</p>
						<p class="tab-item active" ng-class="{ active:tab.isSet(5) }">
						  <p href="" ng-click="tab.setTab(5)">Basic information</p>
						</p>
						<p ng-class="{ active:tab.isSet(6) }">
						  <p href="" ng-click="tab.setTab(6)">Contact</p>
						</p>
					</ul>
				</div>
				<div id="information-in-tab">
					<button class="button button-icon  ion-medkit"  menu-close> Ask her information</button><br>
			`		<button class="button button-icon  ion-university"  menu-close>University of Engineering and Technology</button>	<br>
					<button class="button button-icon  ion-nuclear"  menu-close> From: Cau Giay, Hanoi</button>
				</div>
			</div>
		</div>
		<div class ="showtab" ng-show="tab.isSet(3)">
			<div id="friends" data-ng-repeat="friend in friends" >	
				<img id="friend-avatar" data-ng-src="img/ava{{friend.image}}.png">
				<div id="friend-name">{{friend.name}}</div> 
			</div>
          </div>
		  <div class ="showtab" ng-show="tab.isSet(4)">
           <button class="button button-icon icon ion-coffee " menu-close></button>
		   <p> she has 5 appointments with you </p>	  
          </div>
		</section>
		</ion-content>
</ion-view>
