/**
* starter: Can Duy Cat
* owner: Can Duy Cat
* last update: 09/05/2015
* type: Can Duy Cat css
*/

/**
* coming soon
*/
.ccb { border: 1px solid black !important; }
.coming-soon-content {
	display: inline-block;
	font-size: 25px;
	margin-top: 25vh;
	width: 300px;
}
div.coming-soon-input { display: inline-block; margin-top: 30px; width: 300px; }
input.coming-soon-input {
	color: #416969;
	display: inline-block;
	font-size: 11px;
	height: 30px;
	padding-left: 10px;
	width: 155px;
}
p.coming-soon-slogan { font-family: Giddy; font-size: 22px; margin-top: 10px; }
/* coming-soon-button */
button.coming-soon-button {
	border: 1px solid black;
	display: inline-block;
	height: 30px;
	min-height: 30px;
	min-width: 40px;
	width: 47px;
}
.coming-soon-button.icon:before {
	display: inline-block;
	font-size: 24px;
	line-height: 30px;
	padding: 0 0 1px 0;
	pointer-events: none;
	vertical-align: inherit;
}
/* placeholder css in coming-soon */
/* Must use all these 4 css */
/* WebKit browsers */
input.coming-soon-input::-webkit-input-placeholder { font-size: 12px; }
/* Mozilla Firefox 4 to 18 */
input.coming-soon-input:-moz-placeholder { font-size: 12px; }
/* Mozilla Firefox 19+ */
input.coming-soon-input::-moz-placeholder { font-size: 12px; }
/* Internet Explorer 10+ */
input.coming-soon-input:-ms-input-placeholder { font-size: 12px; }

/**
* home
*/
/* red plus button to add event */
.home-create-event {
	bottom: 0px;
	max-width: 100px;
	min-width: 80px;
	position: absolute;
	right: 0px;
	width: 30%;
}
.home-button-top {
	height: 40px;
	position: absolute;
	right: 0;
	top: 40px;
	width: 80px;
}
/* calendar select popover */
.home-popover-item { height: 47px; }
#home-calendar-select-popover {
	border: 0;
	border-radius: 0;
	height: 273px;
	top: 0;
	width: 169px;
}
.home-num-30-position {
	font-size: 15px;
	left: 18px;
	position: absolute;
	top: 17px;
}
.home-num-7-position {
	font-size: 15px;
	left: 22px;
	position: absolute;
	top: 63px;
}
.home-num-1-position {
	font-size: 15px;
	left: 22px;
	position: absolute;
	top: 109px;
}

/**
* notification popover
*/
#noti-popover-view {
	border: 0;
	border-radius: 0;
	height: 65vh;
	max-height: 500px;
}
.noti-tabs { height: 30px !important; min-height: 30px !important; top: 0; }
#noti-popover-content { margin-bottom: 30px; margin-top: 30px; }
/* footer bar in popover */
#noti-popover-footer-bar {
	border: 0;
	border-radius: 0;
	height: 30px;
	padding-left: 10px;
}
#noti-popover-footer-left {
	color: #646464 !important;
	font-size: 15px;
	margin-left: -5px;
	margin-top: -5px;
	text-align: left;
	text-decoration: underline;
	width: 30% !important;
}
#noti-popover-footer-right {
	color: #646464 !important;
	font-size: 15px;
	margin-top: -5px;
	text-align: right;
	text-decoration: underline;
	width: 50% !important;
}
/* friend accepted */
#noti-friend-accepted-badge { position: absolute; right: 3px; top: 3px; }
#noti-friend-tab-divider {
	border: 0;
	height: 25px;
	left: 1px;
	min-height: 25px;
	position: absolute;
	top: 81px;
	width: 100%;
}
#noti-friend-tab-divider-title { margin-left: -10px; margin-top: -5px; width: 100%; }
#noti-friend-accepted {
	border: 0;
	left: 1px;
	position: absolute;
	top: 31px;
	width: 100%;
}
.noti-button-no-request { margin-top: -5px; }
.noti-friend-accepted-list { height: 200px !important; }
/* css for friends tab */
#noti-friend-request-list { }
.noti-margin-top { margin-top: 0px !important; }
.noti-margin-down { margin-top: 73px !important; }

/**
* search
*/
#search-subheader { height: 35px; }
#search-option-label { left: 10px; position: absolute; top: 8px; }
.search-margin-content { margin-top: 76px; }
/* 2 div of result */
.search-empty-result { position: absolute; top: 110px; width: 100%; }
#search-people-result { margin-bottom: -1px; }
#search-events-result { }
/* search people */
.search-person-result-name { }
.search-person-button {
	height: 38px !important;
	min-height: 38px;
	position: absolute;
	right: 5px;
	top: 5px;
}
/* search events */
.search-item-event-result { height: 50px; padding: 5px; }

/**
* setting
*/
.setting-content { padding-left: 10px; padding-right: 10px; }
.setting-card {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	max-width: 1440px;
}
.setting-divider { border-bottom: 0 !important; height: 25px; min-height: 25px; }
.setting-divider-title { left: 5px; position: inherit; top: 5px; }
.setting-first-item { border-top: 0 !important; }
.setting-divider-name { border-bottom: 0 !important; height: 30px; min-height: 30px; }
.setting-easilendar { font-size: 25px !important; }
.setting-number-view-option-1 { left: 23px; position: absolute; top: 20px; }
.setting-number-view-option-30 { left: 19px; position: absolute; top: 20px; }
/* event duration popup */
.setting-input-event-duration { padding-left: 40px; width: 200px; }
/* default-time-option.html */
#setting-search-time-zone { position: absolute; top: 65px; }
.setting-show-time-zone { font-size: 12px !important; height: 50px !important; padding: 5px !important; }
#setting-time-zone-list { height: 150px; margin-top: 42px; }

/**
* side menu
*/
a.side-menu-item {
	background-color: #646464;
	border: 0;
	color: #E6E6E6;
	height: 50px;
}
a.side-menu-item:hover {
	background-color: #33CCCC;
	border: 0;
	color: #E6E6E6;
	height: 50px;
}
a.side-menu-item:active {
	background-color: #419696;
	border: 0;
	color: #E6E6E6;
	height: 50px;
}
a.side-menu-item-user {
	background-color: #646464;
	border: 0;
	color: #E6E6E6;
	height: 70px;
}
a.side-menu-item-user:hover {
	background-color: #33CCCC;
	border: 0;
	color: #E6E6E6;
	height: 70px;
}
a.side-menu-item-user:active {
	background-color: #419696;
	border: 0;
	color: #E6E6E6;
	height: 70px;
}
hr.side-menu-hr {
	border: 1px solid #707070;
	margin-bottom: 1px;
	margin-top: 1px;
	width: 92%;
}
/* for TOOLS menu devider */
hr.side-menu-split {
	border: 2px solid #707070;
	margin-bottom: 1px;
	margin-top: 1px;
	width: 95%;
}
p.side-menu-split {
	font-size: 17px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-top: 5px;
}

/**
* Todo
**/
.todo-item-content {
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	height: 275px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
}
.todo-checklist-content {
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	margin-left: auto;
	margin-right: auto;
	margin-top: 263px;
	max-width: 1440px;
}
.todo-item-list { }
.todo-checklist-list { }
.todo-item { border: 1px solid #E6E6E6; height: 55px; }
/* main divider */
.todo-main-divider { height: 50px; padding-left: 12px; padding-top: 0; }
.todo-main-divider-title { font-size: 20px !important; margin-top: 12px !important; }
/* option button in checklist */
.todo-option-checklist {
	height: 550px;
	min-height: 0;
	min-width: 0;
	width: 52px;
}
/* popup style */
.todo-create-popup-star {
	position: absolute;
	right: 10px;
	top: 115px;
	width: 130px;
}
.todo-create-popup-important { position: absolute; top: 130px; }
.todo-create-star-icon { font-size: 45px; margin-left: 3px; }
/* modal */
.todo-modal-content-div { height: 20px !important; width: 100%; }
.bar .todo-subtitle {
	font-size: 10px;
	font-weight: 500;
	height: 43px;
	left: 0;
	line-height: 44px;
	margin: 0 10px;
	min-width: 30px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	text-overflow: ellipsis;
	top: 16px;
	white-space: nowrap;
	z-index: 0;
}
/* for item 2 lines */
.todo-checklist-name-expand { font-size: 12px !important; }
.todo-up-item-2line { margin-top: -8px; }
/* last to swipe up gesture */
.todo-important-modal-last {
	bottom: 0;
	height: 30px;
	position: absolute;
	width: 100%;
}
.todo-move-task { height: auto; max-height: 40vh; }
.todo-attach {
	display: inline-block !important;
	font-size: 17px !important;
	left: 0 !important;
	position: absolute !important;
	top: 10px !important;
	width: 10px;
}
.todo-clock {
	display: inline-block !important;
	font-size: 15px !important;
	left: -10px !important;
	position: absolute !important;
	top: 12px !important;
	width: 10px;
}
.todo-description { margin-bottom: 1px; margin-left: 50px; width: auto; }
.todo-description-card {
	margin-left: 1px !important;
	margin-right: 1px !important;
	margin-top: 1px !important;
	width: auto;
}
.todo-description-text { height: 85px; padding-right: 5px; padding-top: 5px; }
.todo-description-icon { margin-top: 0px; }
.todo-swipe-me-up {
	bottom: -14px;
	color: #BBB;
	font-size: 10px;
	position: absolute;
	width: 100%;
}
/* animate */
.todo-animate { height: 150px; overflow: hidden; transition: .3s linear all; }
.todo-animate.ng-hide { height: 0; }
/* Checklist view */
.todo-item-ion-item { height: 55px; }
.todo-item-in-div {
	margin-left: -17px;
	margin-righ: -32px;
	margin-top: -17px;
	width: auto;
}
.todo-create-task {
	left: -10px;
	margin-top: 88px;
	position: fixed;
	width: 100%;
}
.todo-create-animate { height: 200px; overflow: hidden; transition: .3s linear all; }
.todo-create-animate.ng-hide { height: 0; }
.todo-create-bar { padding: 0; }
.todo-create-card { margin-right: 50px; width: auto; }
.todo-create-title-input {
	height: 47px;
	margin: -6px;
	margin-top: 0px;
	padding: 3px;
	padding-left: 10px;
	width: auto;
}
.todo-input { margin-top: 0; }
.todo-create-description-text { height: 97px; padding-right: 0; }
.todo-create-input-description {
	height: 95px;
	margin-top: -15px;
	padding-top: 5px;
	width: 100%;
}
.todo-create-star-div { position: absolute; right: 7px; top: 7px; }
.todo-button-create-div { }
.todo-button-create-cancel {
	border: 0;
	height: 50px;
	margin-right: -5px;
	min-height: 50px;
	width: 50%;
}

/**
* My profile
*/
.my-profile-header { background-color: #98D2C3; height: 54px; }
.my-profile-title { font-size: 25px !important; }
.my-profile-content { }
.my-profile-header-button:before { font-size: 40px !important; }
.my-profile-head-information {
	background-color: #98D2C3;
	margin: auto;
	max-width: 1440px;
	width: 100%;
}
.my-profile-container {
	background-color: inherit;
	height: 40vw;
	margin: auto;
	margin-top: 10px !important;
	max-height: 576px;
	width: auto;
}
.my-profile-avatar-container {
	background-color: inherit;
	height: auto;
	margin: auto;
	width: 40%;
}
.my-profile-edit-button, .my-profile-picture-button {
	border: 3px solid #D8FFFF;
	border-radius: 100%;
	color: #98D2C3;
	display: block;
	font-size: calc(6vw);
	height: 30%;
	opacity: 1;
	padding-top: 5.5%;
	position: absolute;
	width: 30%;
}
.my-profile-edit-button { bottom: 2%; right: 2%; }
.my-profile-picture-button { left: 2%; top: 2%; }
.my-profile-avatar {
	border: 6px solid #D8FFFF;
	border-radius: 100%;
	display: block;
	width: 100%;
}
.my-profile-navbutton-left, .my-profile-navbutton-right { position: absolute; top: 35%; }
.my-profile-navbutton-left:before, .my-profile-navbutton-right:before { font-size: 70px !important; }
.my-profile-navbutton-left { left: 20%; }
.my-profile-navbutton-right { right: 20%; }
.my-profile-name {
	font-size: 25px !important;
	height: 35px;
	padding: 3px;
	width: 100%;
}
.my-profile-account-type {
	font-size: 20px !important;
	height: 30px;
	opacity: 0.7;
	width: 100%;
}
.my-profile-vip-icon { font-size: 30px !important; }
.my-profile-second-content { margin-top: calc(40% + 118px); }
.my-profile-tabs {
	height: 40px;
	margin: auto;
	max-width: 1440px;
	padding: 0;
	width: 100vw;
}
.my-profile-tab { float: left; width: 25%; }
.my-profile-tab label {
	display: block;
	height: 40px;
	padding-top: 10px;
	width: 100%;
}
.my-profile-tab label:hover {
	cursor: pointer;
	display: block;
	height: 40px;
	padding-top: 10px;
}
.my-profile-tab-1 label { background-color: #7FBCAC; }
.my-profile-tab-1 label:hover { background-color: #F6F6F6; color: #416969; }
.my-profile-tab-2 label { background-color: #77B4A4; }
.my-profile-tab-2 label:hover { background-color: #F6F6F6; color: #416969; }
.my-profile-tab-3 label { background-color: #6CA999; }
.my-profile-tab-3 label:hover { background-color: #F6F6F6; color: #416969; }
.my-profile-tab-4 label { background-color: #5F9C8C; }
.my-profile-tab-4 label:hover { background-color: #F6F6F6; color: #416969; }
.my-profile-tab [type=radio] { display: none; }
.my-profile-tab [type=radio]:checked ~ label { background-color: #98D2C3; color: #416969; }
.my-profile-overview-box, .my-profile-information-box, .my-profile-friends-box, .my-profile-more-box { margin: auto auto auto auto; max-width: 1440px; min-height: calc(100vh - 40vw - 162px); }
.my-profile-friend-card { background-color: #F6F6F6; margin: 10px; max-width: 1440px; }
.my-profile-friend-card-content { background-color: #F6F6F6; }
.my-profile-friend-avatar { border: 3px solid white; border-radius: 100%; }
.my-profile-item-avatar, .my-profile-item-avatar .item-content {
	height: 90px;
	min-height: 45px;
	padding-left: 100px;
	padding-top: 5px;
}
.my-profile-item-avatar > img:first-child {
	height: 80px;
	left: 5px;
	min-height: 35px;
	position: absolute;
	top: 5px;
}
.my-profile-item-avatar > h2 { font-size: 22px; margin: 0px 30px 10px 0px; padding: 1px; }
.my-profile-item-avatar > div { border-top: 1px solid #D6D6D6; }
.my-profile-item-avatar > div > div { display: inline-block; padding-top: 10px; width: 30%; }
.my-profile-item-avatar > div > div > i { color: #D6D6D6; font-size: 25px; }
.my-profile-item-avatar > button { position: absolute; right: 3px; top: 0; }
.my-profile-card { margin: 15px auto 0 auto; max-width: 1440px; }
.my-profile-time-item {
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: 0 20px;
	padding-bottom: 20px;
}
.my-profile-quote-item { opacity: 1; padding-bottom: 15px; }
#my-profile-date { font-size: 25px !important; }
#my-profile-time { font-size: 20px !important; }
.my-profile-friends-info { width: 100%; }
.my-profile-friends-info-item { display: inline-block; width: 20%; }
.my-profile-friends-info-item:hover { cursor: pointer; }
.my-profile-friends-info-item > img {
	border: 2px solid #E6E6E6;
	border-radius: 100%;
	display: block;
	margin: auto;
	width: 80%;
}
.my-profile-friends-info-item > p {
	display: block;
	font-size: 15px !important;
	margin: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 80%;
}
.my-profile-friends-info-item > div {
	border: 2px solid #E6E6E6;
	border-radius: 100%;
	display: block;
	height: 16vw;
	margin: auto;
	width: 80%;
}
.my-profile-friends-info-item > div > p { font-size: 7vw; line-height: 16vw; width: 100%; }
.my-profile-information-detail { opacity: 1; }
.my-profile-information-edit {
	opacity: 1;
	position: absolute;
	top: 0;
	width: 100%;
}
.my-profile-item-input { margin-bottom: 15px; }
.my-profile-item-input-date, .my-profile-item-input-month { display: inline-block; margin-bottom: 15px; width: 20%; }
.my-profile-item-input-year { display: inline-block; margin-bottom: 15px; width: 30%; }
.list-inset .item.my-profile-item-input input, .list-inset .item.my-profile-item-input-top input, .list-inset .item.my-profile-item-input-date input, .list-inset .item.my-profile-item-input-month input, .list-inset .item.my-profile-item-input-year input { padding-right: 15px; }
.my-profile-item-input-top {
	left: 115px;
	margin-bottom: 15px;
	padding-right: 10px;
	position: inherit;
	width: calc(100vw - 140px);
}
.my-profile-item-input-top input[type="text"]:disabled, #my-profile-email { background-color: #F6F6F6; }
.my-profile-avatar-edit {
	border: 4px solid #aaa;
	border-radius: 100%;
	position: absolute;
	width: 105px;
}
.my-profile-icon-sync { font-size: 25px; margin-left: -35px; }
.my-profile-switch {
	display: inline-block;
	height: 47px;
	margin-left: 5px;
	margin-top: -1px;
	position: absolute;
	width: calc(100vw - 70vw - 22px);
}

/* Profile */
.profile-content { }
.profile-head-information {
	background-color: #98D2C3;
	height: auto;
	margin: auto;
	max-width: 1440px;
	width: 100%;
}
.profile-avatar-container {
	background-color: transparent;
	height: auto;
	margin: 10% 0 15px 5%;
	width: 30%;
}
.profile-name, .profile-account-type, .profile-status { left: 36%; position: absolute; }
.profile-name { bottom: 45px; font-size: 25px !important; }
.profile-account-type { bottom: 25px; font-size: 16px !important; opacity: 0.7; }
.profile-status { bottom: 25px; font-size: 16px !important; opacity: 0.7; }
.profile-status > i { font-size: 25px !important; }
.profile-status > p { display: inline-block; font-size: 18px !important; }
.profile-bar { background-color: inherit !important; }
.profile-buttons { position: absolute; right: 0; }
.profile-second-content { margin-top: calc(40% + 55px); }
.profile-calendar-box, .profile-information-box, .profile-friends-box, .profile-more-box { margin: auto auto auto auto; max-width: 1440px; min-height: calc(100vh - 40vw - 100px); }
.profile-calendar-box { height: calc(100vh - 40vw - 100px); }
