/**
* starter: Can Duy Cat
* owner: Can Duy Cat
* last update: 26/02/2015
* type: general css
*/
/* loading */

div#loading { text-align: center; }
img#logo { height: 39vh; margin-top: 20vh; }
img#name { height: 13vh; }
img#load { width: 40vmin; }
/* side menu */

#sideMenuContent { background-color: #646464; border: 0; }
a#sideMenu:link { background-color: #646464; border: 0; color: #E6E6E6; }
a#sideMenu:visited { background-color: #646464; border: 0; color: #E6E6E6; }
a#sideMenu:hover { background-color: #646464; border: 0; color: #E6E6E6; }
a#sideMenu:active { background-color: #33CCCC; border: 0; color: #E6E6E6; }
#trangXam { color: #E6E6E6; }
#avaStt { color: #33CCCC; }
hr#sideMenu { border: 1px solid #707070; width: 90%; }
