/**
 * starter: Can Duy Cat
 * owner: Can Duy Cat
 * last update: 24/02/2015
 * type: particular css for home
 */

#sideMenuContent {
    background-color: #646464;
    border: 0;
}
.nenDam {
    background-color: #416969;
}
a#sideMenu:link {
    background-color: #646464;
    border: 0;
    color: #E6E6E6;
}
a#sideMenu:visited {
    background-color: #646464;
    border: 0;
    color: #E6E6E6;
}
a#sideMenu:hover {
    background-color: #646464;
    border: 0;
    color: #E6E6E6;
}
a#sideMenu:active {
    background-color: #33CCCC;
    border: 0;
    color: #E6E6E6;
}
#trangXam {
    color: #E6E6E6;
}
#avaStt {
    color: #33CCCC;
}
hr#sideMenu {
    border: 1px solid #707070;
    width: 90%;
}
#cover {
    margin-top: -10px;
    margin-left: -10px;
    width: 100vw;
    height: 25vh;
    background-image: url(img/cover.jpg);
}
.myAvatar, .myAvatar .item-content {
    padding-left: 60px;
    min-height: 51px;
    height: 51px;
}
.myAvatar>img:first-child, .myAvatar .item-image, .myAvatar .item-content>img:first-child, .myAvatar .item-content .item-image {
    position: absolute;
    top: 4px;
    left: 10px;
    max-width: 40px;
    max-height: 40px;
}
.popup-head {
    border: 0;
}
.popup-body {
    background-color: #E6E6E6;
    border: 0;
}
.popup-buttons .button {
    background-color: #416969;
    border-radius: 0px;
    border: 0;
    color: white;
}
