/**
 * starter: Can Duy Cat
 * owner: Can Duy Cat
 * last update: 24/02/2015
 * type: particular css for loading
 */

div#loading {
    text-align: center;
}
img#logo {
    margin-top: 20vh;
    height: 39vh;
}
img#name {
    height: 13vh;
}
img#load {
    width: 40vmin;
}
