/**
 * starter: Can Duy Cat
 * owner: Ngo Duc Dung
 * last update: 17/03/2015
 * type: personal css
 */

/*FRIEND PANEL*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.myAvatar, .myAvatar .item-content { height: 50px; min-height: 51px; padding-left: 70px; }
.myAvatar > img:first-child, .myAvatar .item-image, .myAvatar .item-content > img:first-child, .myAvatar .item-content .item-image {
    left: 10px;
    max-height: 50px;
    max-width: 50px;
    position: absolute;
    top: 0px;
}
.myAvatar h2 { margin-top: 7px;}

.myAvatar01 { max-height: 88px; padding-left: 70px; padding: 4px}
.myAvatar01 > img:first-child, .myAvatar01 .item-image, .myAvatar01 .item-content > img:first-child, .myAvatar01 .item-content .item-image {
    left: 10px;
    height: 50px;
    position: absolute;
    top: 4px;
    width: 52px;
}
#friendPanelContent { background-color: #646464; border: 0; margin-bottom:-45px; padding-bottom: 45px; z-index: 1;}
.myAvatar01 h2 {margin-top: 10px; font-size: 15px; font-weight: normal; margin-left: 63px; overflow: hidden;}
.myAvatar01 p {color: #E6E6E6; font-size: 14px; font-weight: normal; margin-left: 63px; padding-top: 1px;}
#myAvatar01 { background-color: #646464; border: 0; padding-bottom: 0px;}
#ribbon-b { border: 0; height: 50px; margin-top: 5px;}
#hrFriendPanel { border: 1px solid #707070; width: 90%; margin-top: 1px; margin-bottom: 0;}

.div02 {text-align: right; border: 0; font-size: 13px; height: 25px;}
.div02 button {border:0; background-color: #646464; color:#E6E6E6; padding-top: 0px;}
.footer-friend-panel {background-color: transparent;} 
.search-friend-input-focus { opacity: 1;}
.search-friend-input-blur {opacity: 0.4;}

.my-repeat-animation.ng-enter, 
.my-repeat-animation.ng-leave {transition: 500ms linear all; position: relative; display: block; } 
.my-repeat-animation.ng-leave.ng-leave-active,
.my-repeat-animation.ng-enter {opacity: 0; transform: scaleY(0); height: 0px; margin-bottom: -34px;}        
.my-repeat-animation.ng-leave {opacity: 1; transform: scaleY(1);}
.my-repeat-animation.ng-enter.ng-enter-active {opacity: 1; transform: scaleY(1); height: 95px;}


/*SEARCHING FILTER*/
#table01, #table03 { border: 0; margin-top: -2px; margin-left: 0px; margin-bottom: -2px; width: 100%; }
#table03 { margin-left: -3px;} 
#table02 { border: 0; margin-top: -3px; margin-left: -8px; width: 100%;}
#td03 { border: 0; color: #646464; font-size: 12px; padding-left: 10px;}
#td04 { border: 0; padding-right: 10px; }
#span01 { color: #646464; margin-left: 2px; display: inline-block;}
#span02 { color: #646464; font-size: 14px;}
#span03 { color: #646464; border: 0; font-size: 12px;}
#input01, #inputTitle{ border: 0; margin-left: -6px; margin-bottom: -3px; margin-top: -5px;}
#input01::-webkit-outer-spin-button,
#input01::-webkit-inner-spin-button {-webkit-appearance: none;}
#hr01, #hr02 { border: 2px solid #E6E6E6; width: 100%; }
#hr01 { margin-top: -2px; }
#p01 { color: #646464; margin-bottom: -7px; margin-top: -2px; text-align: center;}

.list { margin-top: -2px; }
#inset01 { border: 0; border-bottom: 0; margin-bottom: -5px; margin-top: -6px;}
#inset02 { border: 0; margin-top: -22px;}
.item { border: 0; border-bottom: 2px solid #E6E6E6; padding-top: 0; min-height: 34px;}
#itemTitle, #itemDuration, #itemFrom, #itemFromDay, #itemToDay{ border-bottom: 1px solid #E6E6E6; margin-bottom: 2px;}
#itemLocation { border: 0; margin-bottom: -15px;}
#itemTo { border: 0;}
#itemToDay { border:0;}
#button-advance-filter {
    background-color: #ffffff;
    border: 0;
    color: #646464;
    font-size: 14px;
}

/*segment button*/
.segmented-button {
    border: 0;
    font-size: 13px;
    padding: 5px;
    text-align: right;
    width: 100%;
}
.segmented-button input[type="radio"] { display: none; height: 0px; width: 0px; }
.segmented-button label {
    border: 0;
    color: #646464;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    margin-right: -4.5px;
    padding: 5px 15px;
    padding-bottom: 3px;
    vertical-align: middle;
}
.segmented-button label.first { border-right: 1px solid #E6E6E6; text-align: center; width: 69px; }
.segmented-button label.last { text-align: center; width: 69px; }
.segmented-button input:checked+label, .segmented-button label.selected { background-color: #646464; color: #ffffff; }

/*validation*/
#input01.ng-invalid, #textarea01.ng-invalid { color: red; }
#div00 {max-height: 20px;}
#table-title-searching, #table-duration-searching { margin-top: -1px; width: 100%;}
#td-title-searching {width: 10%; color: #646464}
#td-error-title {width: 90%; text-align:right;}
#td-duration-searching {color: #646464; width: 10%;}
#td-error-duration-hour {width: 40%; text-align:right; border: 1px solid black;}
#td-error-duration-minute {width: 50%; text-align:right; border: 1px solid black;}
.error {color: red; font-size: 9px;}
.error#error01 { margin-left: 10px;}
.error#error02 { margin-left: -6px; }

/*validation show-hide
.my-animation { transition: all linear 400ms; }
.my-animation.ng-hide { opacity: 0; }
*/
/*show-hide*/
.my-repeat-animation.ng-hide-add.ng-hide-add-active,
.my-repeat-animation.ng-hide-remove.ng-hide-remove-active { transition: all linear 400ms;}
.my-repeat-animation.ng-hide { opacity: 0;}

/*LIST CALENDAR*/
.table-list-calendar, .table-month-calendar {margin-top:-15px;}
.list-calendar { max-width: 500px; margin-top: -3px; margin-left: -6px;}
.td-list-calendar-1 {color: #646464; text-align: center; font-size: 30px;}
.td-list-calendar-2 {color: #ffffff; padding-bottom: 10px; padding-left: 6px;}
.div-list-calendar-1, .div-list-calendar-2 {margin-left: 7px; margin-bottom: 10px; padding: 10px; font-size: 16px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.div-list-calendar-1 {width: 265px;}
.p-list-calendar-number, .p-list-calendar-text{ width: 100%; padding-top: 15px;}
.p-list-calendar-text { font-size: 15px; margin-top: -20px;}
.p-list-calendar-month {font-size: 11px; margin-top: -12px;}

.current-date-list { color: #33CCCC;}
.birthday-background, .holiday-background, .hotel-background, .restaurant-background, .ticket-background { color: #fff;}
.birthday-background { background: url("../img/img_birthday.jpg") no-repeat; background-size: 100% 100%;}
.holiday-background { background: url("../img/smart_flight.jpg") no-repeat; background-size: 100% 100%;}
.hotel-background { background: url("../img/smart_hotel.jpg") no-repeat; background-size: 100% 100%;}
.restaurant-background { background: url("../img/smart_restaurant.jpg") no-repeat; background-size: 100% 100%;}
.ticket-background { background: url("../img/smart_ticket.jpg") repeat; background-size: 100% 100%;}
.event-color-1 { background-color: #690;}
.event-color-2 { background-color: #F39;}
.event-color-3 { background-color: #06F;}
.event-color-4 { background-color: #960;}
.event-color-5 { background-color: #069;}

/*MONTH CALENDAR*/
.bkg-style{transition: all linear 400ms; opacity: 0.9; min-height: 100%; min-width: 100%;}
.bkg-01{ background: url("../img/bkg_01_jan.jpg") no-repeat;}
.bkg-02{ background: url("../img/bkg_02_feb.jpg") no-repeat;}
.bkg-03{ background: url("../img/bkg_03_mar.jpg") no-repeat;}
.bkg-04{ background: url("../img/bkg_04_apr.jpg") no-repeat;}
.bkg-05{ background: url("../img/bkg_05_may.jpg") no-repeat;}
.bkg-06{ background: url("../img/bkg_06_jun.jpg") no-repeat;}
.bkg-07{ background: url("../img/bkg_07_jul.jpg") no-repeat;}
.bkg-08{ background: url("../img/bkg_08_aug.jpg") no-repeat;}
.bkg-09{ background: url("../img/bkg_09_sep.jpg") no-repeat;}
.bkg-10{ background: url("../img/bkg_10_oct.jpg") no-repeat;}
.bkg-11{ background: url("../img/bkg_11_nov.jpg") no-repeat;} 
.bkg-12{ background: url("../img/bkg_12_dec.jpg") no-repeat;}

#content-month-calendar {margin-top: -22px;}
/*.form-month-calendar { position: fixed; top: 0;left: 0;width: 100%;height: 100%;z-index: 2;}*/
.title-month-calendar {margin-top: 2px; margin-bottom: 10px; color: #646464;}
.button-calendar.active, .button-calendar.activated { opacity: 0.3;}
.button-calendar:before, .button-calendar:before {font-size: 15px; color: #646464;}
.button-previous-month { margin-right: 12px;}  
.button-next-month { margin-left: 12px;}
.span-month-calendar {padding-top: 3px; width: 200px; display: inline-block; font-size: 18px; font-weight: bold;}
.table-month-calendar{height: 235px;}
.td-header-month-calendar { width: 30px; color: black; font-weight: bold; text-align: center; font-size: 15px; padding-bottom: 10px; padding-top: 15px;}
.td-month-calendar {width: 30px; color: black; text-align: center; padding: 5px; }
.td-month-calendar div, .different-month-color {width: 30px; height:30px; text-align: center; margin-top: -9px; border-radius: 100px;}
.td-month-calendar input[type="radio"] { width: 0; height: 0; }
.td-month-calendar label{ font-weight: bolder; font-size: 14px; width: 19px; height: 25px; border-radius: 100px; padding-top: 6px; margin-right: 4px; display: inline-block;} 
.different-month-color {color: #E6E6E6;}
.current-date-style { color: #ffffff; background-color: #33CCCC; border: 1px solid #E6E6E6;}
.radio-month-selected { background-color: #416969; color: #ffffff;}
.day-month-calendar { max-width: 500px; margin-top: 15px; margin-left: 8px;}
.td-list-calendar-3 { width: 3%; color: #646464; text-align: center; font-size: 30px; padding-left: 20px;}
.td-list-calendar-4 { width: 95%; color: #ffffff; padding-bottom: 5px;}
.div-list-calendar-2 { width: 78%; max-width: 350px;}
.day-has-event{ border: 1px solid #646464; }