/**
* starter: Can Duy Cat
* owner: Nguyen Minh Trang
* last update: 16/03/2015
* type: personal css
*/

/* sign in */
.item-input.signin-form-input {
	font-size: 20px;
	height: 40px;
	padding-left: 10px;
	width: 100%;
	color: #416969;
	background-color: #fff;
	margin-bottom: 10px;
}

.font20 {
	font-size: 20px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.signInBackground {
	background-color: #33cccc;
	height: 100%;
	width: 100%;
}

.easi-image {
	width: 75%;
	height: 70px;
	font-size: 71px;
	color: #fff;
	line-height: 100%;
	margin: 50px auto 0 auto;
	text-align: center;
}

.signInForm {
	width: 75%;
	max-width: 400px;
	margin: 50px auto 0 auto;
}

.registerForm {
	width: 75%;
	max-width: 400px;
	margin: 0 auto 0 auto;
	color: #416969;
	font-size: 15px;
}

.registerForm .terms {
	text-align: justify;
	float: left;
	font-size: 16px;
	float: right;
}

.signInForm input[type=submit] {
	width: 100%;
	height: 50px;
	font-size: 25px;
}

.registerForm input[type=submit] {
	height: 50px;
	width: 70%;
	float: left;
	margin-top: 7px;
}

.registerForm input[type=button] {
	width: 29%;
	height: 50px;
	float: right;
	margin-top: 7px;
}

.registerForm .icon {
	padding-right: 10px;
	size: 20px;
	color: #D65930;
}

.rememberme input {
	display: inline-block;
	margin-right: 10px;
}

.warning {
	margin: 40px auto 0 auto;
	max-width: 300px;
	padding-bottom: 26px;
	text-align: center;
	width: 60%;
}

.warning p {
	color: #416969;
	margin-bottom: 30px;
	padding-top: 20px;
}

.warning .confirm {
	max-width: 300px;
	margin-bottom: 118px;
}

.links, .links a {
	width: 75%;
	text-decoration: none;
	background-color: transparent;
	margin: 70px auto 0 auto;
	padding: 0;
	color: #416969;
}

.signInForm .item-input::-webkit-input-placeholder {
	padding-top: 4px;
}

.signInForm .item-input:-moz-placeholder {
	/* older Firefox*/
	padding-top: 4px;
}

.signInForm .item-input::-moz-placeholder {
	/* Firefox 19+ */
	padding-top: 4px;
}

.signInForm .item-input:-ms-input-placeholder {
	padding-top: 4px;
}

/* result */
.result .calendar {
	width: 100%;
	max-width: 500px;
	margin: 0 auto 0 auto;
	height: 460px;
	border: 1px solid #e6e6e6;
}

.result .calendar img {
	height: 500px;
	width: 100%;
}

.result .options {
	width: 100%;
	max-width: 500px;
	margin: 460px auto 0 auto;
	height: 150px;
	background-color: #fff;
	border: 1px solid #e6e6e6;
}

.result .option {
	width: 100%;
	height: 50px;
	margin: 0;
	padding-left: 20px;
	font-size: 20px;
	text-align: left;
	border-bottom: 0;
}

/* week */
.week {
	width: 100%;
	height: 100%;
}

.week.background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* months' background url */
.jan {
	background: url("../img/bkg_01_jan.jpg");
}
.feb {
	background: url("../img/bkg_02_feb.jpg");
}
.mar {
	background: url("../img/bkg_03_mar.jpg");
}
.apr {
	background: url("../img/bkg_04_apr.jpg");
}
.may {
	background: url("../img/bkg_05_may.jpg");
}
.jun {
	background: url("../img/bkg_06_jun.jpg");
}
.jul {
	background: url("../img/bkg_07_jul.jpg");
}
.aug {
	background: url("../img/bkg_08_aug.jpg");
}
.sep {
	background: url("../img/bkg_09_sep.jpg");
}
.oct {
	background: url("../img/bkg_10_oct.jpg");
}
.nov {
	background: url("../img/bkg_11_nov.jpg");
}
.dec {
	background: url("../img/bkg_12_dec.jpg");
}

/* header */
.week .header {
	width: 100%;
	max-width: 500px;
	height: 80px;
	margin: 22px auto 0 auto;
	text-align: center;
	font-size: 20px;
	color: #416969;
	padding: 30px;
}
.week .header div {
	font-size: 25px;
	display: inline-block;
	width: 70%;
	max-width: 300px;
}
.week .header button {
	background: 0;
	width: 10%;
	border: 0;
}

/* calendar content */
.week .calendar {
	width: 100%;
	max-width: 500px;
	margin: 0 auto 0 auto;
	height: 90%;
	background-color: white;
	border: 1px solid #e6e6e6;
	color: #416969;
}

.week .row {
	border: 0;
	border-collapse: collapse;
	width: 100%;
	max-width: 500px;
	padding: 0;
	margin: 0;
}
.week .col {
	border:0;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}

/* header */
.daytag {
	border-collapse: collapse;
	width: 92%;
	max-width: 500px;
	height: 60px;
	float: right;
	border-bottom: 1px solid #e6e6e6;
}
.row.day {
	height: 40%;
	width: 100%;
	text-align: center;
}
.row.date {
	height: 60%;
	width: 100%;
	text-align: left;
	font-size: 30px;
}
.daytag .col {
	border-left: 1px solid #e6e6e6;
}

/* content */
.week ion-content {
	width: 100%;
	max-width: 500px;
	height: 75%;
	margin: 118px auto 0 auto;
	border-top: 1px solid #e6e6e6;
}
.row.row-content {
	border-bottom: 1px solid #e6e6e6;
}
.row-content .hours {
	width: 8%;
	font-size: 10px;
}
.hours .hour {
	height: 40px;
	text-align: right;
	border-bottom: 1px solid #e6e6e6;
}
.row-content .col.daycol {
	height: inherit;
	text-align: center;
	border-left: 1px solid #e6e6e6;
}
