/**
* starter: Can Duy Cat
* owner: Nguyen Thi Luong
* last update: 26/02/2015
* type: personal css
*/
/* profile */
#cover {
    background-image: url(../img/cover.jpg);
    height: 25vh;
    margin-left: -10px;
    margin-top: -10px;
    width: 100vw;
	
	
}
#list-icon{
    position: absolute;
    bottom: -5px; 
    right: 22vh; 
    background: transparent;
    border: 0;
    float:right;
	
}
#centered{
    width:100vw;
	
	
}
#footered{
	position: absolute; 
	left: 0;
}

.item-thumbnail-left{
	position: absolute;
	bottom: 15px; 
	background: transparent;
	border: 0;
}
.customer span{
	height: 70px;
	font-size: 150%;
	color: #416969;
	
	}
.customer .icon.ion-ribbon-b{
	color: #FFCC00;
	size: 50px;	
	
}

