@CHARSET "UTF-8";
/**
 * starter: Nguyen Minh Trang
 * owner: Nguyen Minh Trang
 * last update: 24/02/2015 add comment
 * type: paticular css for result
 */

#title {
    font-size: 25px;
}
.card {
    width: 100%;
    max-width: 710px;
    margin: 43px auto 0 auto;
    height: 100%;
    border: 1px solid #aaaaaa;
    border-top: 0;
    border-bottom: 0;
}
.calendar {
    width: 99%;
    max-width: 700px;
    height: 425px;
    margin: 60px auto 0 auto;
    border: 1px solid #e6e6e6;
}
.calendar img {
    width: 100%;
    height: 500px;
}
.options {
    width: 99%;
    max-width: 700px;
    margin: 495px auto 0 auto;
    height: 165px;
    background-color: #fff;
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}
.option {
    width: 100%;
    height: 55px;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    margin: 0;
    border-bottom: 0;
}
