/**
* starter: Nguyen Minh Trang
* owner: Can Duy Cat
* last update: 30/04/2015
* type: general css
*
* My app's style
* 1. Styles based on ionic.css
* 2. Styles for all state
*/

/* easi class for img and name */
img.easi-logo { height: 30vh; margin-top: 15vh; }
p.easi-big-name { color: #FFFFFF; font-size: 400%; margin-top: 30px; }

/* font */
@font-face { font-family: Ion; src: url(../font/ionicons.woff); }
@font-face { font-family: Giddy; src: url(../font/GiddyupStd.otf); }
* { font: 100%/150% Ion, helvetica, sans-serif; }
input, button, select, textarea, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
.easi-font { font-family: Giddy; }

/* general style */
html { height: 100%; width: 100%; }
.popup-head { background-color: transparent; border: 0; }
.popup-body { background-color: #E6E6E6; border: 0; }
.popup-buttons .button {
	background-color: #416969;
	border: 0;
	border-radius: 0px;
	color: white;
	font-size: 18px;
}
.popup-buttons .button:hover { background-color: #646464; }

/* calendar style */
.easi-jan-bkg { background: url("../img/bkg_01_jan.jpg"); }
.easi-feb-bkg { background: url("../img/bkg_02_feb.jpg"); }
.easi-mar-bkg { background: url("../img/bkg_03_mar.jpg"); }
.easi-apr-bkg { background: url("../img/bkg_04_apr.jpg"); }
.easi-may-bkg { background: url("../img/bkg_05_may.jpg"); }
.easi-jun-bkg { background: url("../img/bkg_06_jun.jpg"); }
.easi-jul-bkg { background: url("../img/bkg_07_jul.jpg"); }
.easi-aug-bkg { background: url("../img/bkg_08_aug.jpg"); }
.easi-sep-bkg { background: url("../img/bkg_09_sep.jpg"); }
.easi-oct-bkg { background: url("../img/bkg_10_oct.jpg"); }
.easi-nov-bkg { background: url("../img/bkg_11_nov.jpg"); }
.easi-dec-bkg { background: url("../img/bkg_12_dec.jpg"); }

/* toastr */
/* success */
.easi-toast-success { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-success > div {
	background-color: #419696;
	box-shadow: 0 0 0;
	margin: auto;
	max-width: 400px;
	min-width: 200px;
	width: 50%;
}
/* info */
.easi-toast-info { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-info > div {
	background-color: #33CCCC;
	box-shadow: 0 0 0;
	margin: auto;
	max-width: 400px;
	min-width: 200px;
	width: 50%;
}
/* error */
.easi-toast-error { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-error > div {
	background-color: #D65930;
	box-shadow: 0 0 0;
	margin: auto;
	max-width: 400px;
	min-width: 200px;
	width: 50%;
}
/* warning */
.easi-toast-warning { bottom: 50px; right: 0; width: 100%; }
#toast-container.easi-toast-warning > div {
	background-color: #646464;
	box-shadow: 0 0 0;
	margin: auto;
	max-width: 400px;
	min-width: 200px;
	width: 50%;
}

/* item avatar */
/* base on ionic (item item-avatar) */
.easi-item-avatar, .easi-item-avatar .item-content { height: 50px; min-height: 45px; padding-left: 50px; padding-top: 5px; }
.easi-item-avatar > img:first-child, .easi-item-avatar .item-image, .easi-item-avatar .item-content > img:first-child, .easi-item-avatar .item-content .item-image {
	height: 40px;
	left: 5px;
	min-height: 35px;
	position: absolute;
	top: 5px;
}
.easi-item-avatar-big, .easi-item-avatar-big .item-content { height: 70px; min-height: 45px; padding-left: 70px; padding-top: 5px; }
.easi-item-avatar-big > img:first-child, .easi-item-avatar-big .item-image, .easi-item-avatar-big .item-content > img:first-child, .easi-item-avatar-big .item-content .item-image {
	height: 60px;
	left: 5px;
	min-height: 35px;
	position: absolute;
	top: 5px;
}

/* easi style */
.easi-index-1 { z-index: 1 !important; }
.easi-index-2 { z-index: 2 !important; }
.easi-index-3 { z-index: 3 !important; }
.easi-center { text-align: center !important; }
.easi-left { text-align: left !important; }
.easi-right { text-align: right !important; }
.easi-justify { text-align: justify !important; }
.easi-space { margin-top: 10px !important; }
.easi-mini-space { margin-top: 5px !important; }
.easi-big-space { margin-top: 20px !important; }
.easi-up { margin-top: -10px !important; }
.easi-mini-up { margin-top: -5px !important; }
.easi-big-up { margin-top: -20px !important; }
.easi-no-shadow { box-shadow: 0 0 0 !important; }
.easi-no-padding { padding: 0 !important; }
.easi-no-margin { margin: 0 !important; }
.easi-no-radius { border-radius: 0 !important; }
.easi-no-border { border: 0 !important; }
.easi-fullw { width: 100% !important; }
.bar .easi-title {
	font-size: 17px;
	font-weight: 500;
	height: 43px;
	left: 0;
	line-height: 44px;
	margin: 0 10px;
	min-width: 30px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	text-overflow: ellipsis;
	top: 0;
	white-space: nowrap;
	z-index: 0;
}
.bar .easi-title.easi-title-left { text-align: left !important; }
.bar .easi-title.easi-title-right { text-align: right !important; }
.bar .easi-title a { color: inherit !important; }

/* easi color */
.easi-red { color: #D65930 !important; }
.easi-white { color: #FFFFFF !important; }
.easi-gray { color: #646464 !important; }
.easi-light-gray { color: #E6E6E6 !important; }
.easi-blue { color: #33CCCC !important; }
.easi-dark-blue { color: #416969 !important; }
.easi-vip-color { color: #FFCC00 !important; }
.easi-back-red { background-color: #D65930 !important; }
.easi-back-white { background-color: #FFFFFF !important; }
.easi-back-gray { background-color: #646464 !important; }
.easi-back-light-gray { background-color: #E6E6E6 !important; }
.easi-back-blue { background-color: #33CCCC !important; }
.easi-back-dark-blue { background-color: #416969 !important; }
.easi-back-vip-color { background-color: #FFCC00 !important; }
.easi-full-blue { background-color: #33CCCC !important; height: 100vh !important; width: 100vw !important; }

/* easi icons */

/* easi bars */
.bar.bar-easi-blue {
	background-color: #416969;
	background-image: linear-gradient(0deg, #315050, #315050 50%, transparent 50%);
	border-color: #315050;
	color: #fff;
}
.bar.bar-easi-blue .title { color: #fff; }
.bar.bar-easi-blue.bar-footer { background-image: linear-gradient(180deg, #315050, #315050 50%, transparent 50%); }
.bar.bar-easi-gray {
	background-color: #646464;
	background-image: linear-gradient(0deg, #505050, #505050 50%, transparent 50%);
	border-color: #505050;
	color: #fff;
}
.bar.bar-easi-gray .title { color: #fff; }
.bar.bar-easi-gray.bar-footer { background-image: linear-gradient(180deg, #505050, #505050 50%, transparent 50%); }
.bar-easi-blue .button { background-color: #416969; border-color: #315050; color: #fff; }
.bar-easi-blue .button:hover { color: #fff; text-decoration: none; }
.bar-easi-blue .button.activated, .bar-easi-blue .button.active { background-color: #315050; border-color: #315050; box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1); }
.bar-easi-blue .button.button-clear {
	background: 0 0;
	border-color: transparent;
	box-shadow: none;
	color: #fff;
	font-size: 17px;
}
.bar-easi-blue .button.button-icon { background: 0 0; border-color: transparent; }
.bar-easi-gray .button { background-color: #646464; border-color: #505050; color: #fff; }
.bar-easi-gray .button:hover { color: #fff; text-decoration: none; }
.bar-easi-gray .button.activated, .bar-easi-gray .button.active { background-color: #505050; border-color: #505050; box-shadow: inset 0 1px 4px rgba(0, 0, 0, .1); }
.bar-easi-gray .button.button-clear {
	background: 0 0;
	border-color: transparent;
	box-shadow: none;
	color: #fff;
	font-size: 17px;
}
.bar-easi-gray .button.button-icon { background: 0 0; border-color: transparent; }

/* easi checkbox */
.checkbox-easi-blue .checkbox-icon:before, .checkbox-easi-blue input:before { border-color: #416969; }
.checkbox-easi-blue input:checked+.checkbox-icon:before, .checkbox-easi-blue input:checked:before { background: #416969; border-color: #416969; }

/* easi button */
.button.button-easi-blue {
	background-color: #416969;
	border: 0;
	border-radius: 0;
	color: #fff;
}
.button.button-easi-blue:hover { color: #fff; text-decoration: none; }
.button.button-easi-blue.activated, .button.button-easi-blue.active { background-color: #315050; border: 0; box-shadow: none; }
.button.button-easi-blue.button-clear {
	background: 0 0;
	border: 0;
	box-shadow: none;
	color: #416969;
}
.button.button-easi-blue.button-icon { background: 0 0; border: 0; }
.button.button-easi-blue.button-outline { background: 0 0; border: 0; color: #416969; }
.button.button-easi-blue.button-outline.activated, .button.button-easi-blue.button-outline.active { background-color: #416969; box-shadow: none; color: #fff; }

/* loading ball */
#followingBallsG { height: 16px; position: relative; width: 200px; }
.followingBallsG {
	-webkit-border-radius: 8px;
	-webkit-animation-name: bounce_followingBallsG;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 1.7s;
	-webkit-animation-direction: linear;
	-o-border-radius: 8px;
	-o-animation-name: bounce_followingBallsG;
	-o-animation-iteration-count: infinite;
	-o-animation-duration: 1.7s;
	-o-animation-direction: linear;
	-ms-border-radius: 8px;
	-ms-animation-name: bounce_followingBallsG;
	-ms-animation-iteration-count: infinite;
	-ms-animation-duration: 1.7s;
	-ms-animation-direction: linear;
	-moz-border-radius: 8px;
	-moz-animation-name: bounce_followingBallsG;
	-moz-animation-iteration-count: infinite;
	-moz-animation-duration: 1.7s;
	-moz-animation-direction: linear;
	animation-direction: linear;
	animation-duration: 1.7s;
	animation-iteration-count: infinite;
	animation-name: bounce_followingBallsG;
	background-color: #fff;
	border-radius: 8px;
	height: 16px;
	left: 0;
	position: absolute;
	top: 0;
	width: 16px;
}
#followingBallsG_1 { -moz-animation-delay: 0s; }
#followingBallsG_1 { -webkit-animation-delay: 0s; }
#followingBallsG_1 { -o-animation-delay: 0s; }
#followingBallsG_1 { -ms-animation-delay: 0s; }
#followingBallsG_1 { animation-delay: 0s; }
#followingBallsG_2 {
	-webkit-animation-delay: 0.17s;
	-o-animation-delay: 0.17s;
	-ms-animation-delay: 0.17s;
	-moz-animation-delay: 0.17s;
	animation-delay: 0.17s;
}
#followingBallsG_3 {
	-webkit-animation-delay: 0.34s;
	-o-animation-delay: 0.34s;
	-ms-animation-delay: 0.34s;
	-moz-animation-delay: 0.34s;
	animation-delay: 0.34s;
}
#followingBallsG_4 {
	-webkit-animation-delay: 0.51s;
	-o-animation-delay: 0.51s;
	-ms-animation-delay: 0.51s;
	-moz-animation-delay: 0.51s;
	animation-delay: 0.51s;
}
@-moz-keyframes bounce_followingBallsG {
	0% { background-color: #fff; left: 0px; }
	50% { background-color: #fff; left: 185px; }
	100% { background-color: #fff; left: 0px; }
}
@-webkit-keyframes bounce_followingBallsG {
	0% { background-color: #fff; left: 0px; }
	50% { background-color: #fff; left: 185px; }
	100% { background-color: #fff; left: 0px; }
}
@-o-keyframes bounce_followingBallsG {
	0% { background-color: #fff; left: 0px; }
	50% { background-color: #fff; left: 185px; }
	100% { background-color: #fff; left: 0px; }
}
@-ms-keyframes bounce_followingBallsG {
	0% { background-color: #fff; left: 0px; }
	50% { background-color: #fff; left: 185px; }
	100% { background-color: #fff; left: 0px; }
}
@keyframes bounce_followingBallsG {
	0% { background-color: #fff; left: 0px; }
	50% { background-color: #fff; left: 185px; }
	100% { background-color: #fff; left: 0px; }
}
